<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column class="p-0">
    <div class="container">
      <div class="section">
        <app-banner
          [title]="title"
          [subtitle]="subtitle"
          [imageUrl]="imageUrl"
          [showAcademyBtn]="true"
          [entryPointId]="'berufserkunder'"
        ></app-banner>
      </div>
    </div>
    <div class="container-fluid pe-0 ps-0 pb-3 pt-3 bg-brand-banner"></div>
    <div class="container">
      <div class="section">
        <app-process-interested></app-process-interested>
      </div>
    </div>
    <div class="section">
      <app-contact-card
        [title]="'Melde Dich bei uns!'"
        [text]="
          'Du hast Dir einen ersten Überblick verschafft und möchtest jetzt noch mehr erfahren oder auch einen Einblick in die Praxis bekommen? Dann nimm Kontakt mit uns auf und wir besprechen gemeinsam, welches unserer Angebote am besten zu Deinen Bedürfnissen passt.'
        "
        [image]="'../../assets/images/banner-images/features.svg'"
        [buttonText]="'Kontakt'"
      ></app-contact-card>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
