.card {
  height: 500px;
  width: 400px;
  box-shadow: 0 0 4px 0 #bdbdbd;
  border: none;
  border-radius: 0;
}

.link {
  font-size: 1.15rem;
  font-weight: 700;
  cursor: pointer;
}

.card-text {
  font-size: 1rem;
  line-height: 2rem;
}

.card-title {
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 0;
}

.card-img {
  height: 100%;
  width: 100%;
}
