<div class="container">
  <div class="row brand-banner-row align-items-center mb-0">
    <div class="col d-flex justify-content-sm-center">
      <img src="../../../../../assets/images/brand-images/monochrome/html.svg" alt="" />
    </div>
    <div class="col d-flex justify-content-sm-center">
      <img src="../../../../../assets/images/brand-images/monochrome/css.svg" alt="" />
    </div>
    <div class="col d-flex justify-content-sm-center">
      <img src="../../../../../assets/images/brand-images/monochrome/bootstrap.svg" alt="" />
    </div>
    <div class="col d-flex justify-content-sm-center">
      <img src="../../../../../assets/images/brand-images/monochrome/javascript.svg" alt="" />
    </div>
    <div class="col d-flex justify-content-sm-center">
      <img src="../../../../../assets/images/brand-images/monochrome/typescript.svg" alt="" />
    </div>
    <div class="col d-flex justify-content-sm-center">
      <img src="../../../../../assets/images/brand-images/monochrome/angular.svg" alt="" />
    </div>
    <div class="col d-flex justify-content-sm-center">
      <img src="../../../../../assets/images/brand-images/monochrome/ionic.svg" alt="" />
    </div>
    <div class="col d-flex justify-content-sm-center">
      <img src="../../../../../assets/images/brand-images/monochrome/nest.svg" alt="" />
    </div>
  </div>
</div>
