<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <app-html-svg></app-html-svg>
    </div>
    <div class="col d-flex justify-content-center">
      <app-css-svg></app-css-svg>
    </div>
    <div class="col d-flex justify-content-center">
      <app-bootstrap-svg></app-bootstrap-svg>
    </div>
    <div class="col d-flex justify-content-center">
      <app-javascript-svg></app-javascript-svg>
    </div>
    <div class="col d-flex justify-content-center">
      <app-typescript-svg></app-typescript-svg>
    </div>
    <div class="col d-flex justify-content-center">
      <app-angular-svg></app-angular-svg>
    </div>
    <div class="col d-flex justify-content-center">
      <app-ionic-svg></app-ionic-svg>
    </div>
    <div class="col d-flex justify-content-center">
      <app-nest-svg></app-nest-svg>
    </div>
  </div>
</div>
