<div class="container">
  <div class="row">
    <div class="col">
      <app-html-svg class="technology-img"></app-html-svg>
    </div>
    <div class="col">
      <app-css-svg class="technology-img"></app-css-svg>
    </div>
    <div class="col">
      <app-bootstrap-svg class="technology-img"></app-bootstrap-svg>
    </div>
    <div class="col">
      <app-javascript-svg class="technology-img"></app-javascript-svg>
    </div>
    <div class="col">
      <app-typescript-svg class="technology-img"></app-typescript-svg>
    </div>
    <div class="col">
      <app-angular-svg class="technology-img"></app-angular-svg>
    </div>
    <div class="col">
      <app-ionic-svg class="technology-img"></app-ionic-svg>
    </div>
    <div class="col">
      <app-nest-svg class="technology-img"></app-nest-svg>
    </div>
  </div>
</div>
