<section
  [pageTitle]="'Prototyping'"
  [seoTitle]="'ltakademie - Prototyping'"
  [seoDescription]="'Lerne Prototyping mithilfe der ltakademie.'"
  [seoKeywords]="'prototyping, academy, online, learning, platform'"
>
  <task id="task-1" section="prototyping">
    <div title>Was sind Clickdummies?</div>
    <div sidebarTitle>Clickdummies</div>
    <task-text>
      <div info>
        Wenn du dabei bist, ein eigenes webbasiertes Projekt auf die Beine zu stellen, ist es sinnvoll, sich von
        vornherein Gedanken über den Aufbau der Seite zu machen:

        <div infolist>Wo ist die Navbar?</div>
        <div infolist>Gibt es einen Footer?</div>
        <div infolist>Was passiert, wenn ich diesen Knopf drücke?</div>
      </div>
      <div info>
        Genau hier werden Clickdummies wichtig. Clickdummies sind interaktive Prototypen digitaler Produkte und
        Services, die in der Konzeptionsphase eines Projektes zum Einsatz kommen. Clickdummies visualisieren die Idee
        eines neues digitalen Produktes oder Services. Sie ermöglichen frühes Feedback, aus Nutzer-, aber auch aus
        Kundensicht. Während Mock-ups nur ganz grob das Vorhaben skizzieren, geht ein Clickdummy schon ordentlich ins
        Detail und gibt die Möglichkeit jedem, der als Entwickler am Projekt beteiligt ist, aber auch Kunden, für die
        das Projekt erstellt wird, einen Eindruck vom Endergebnis zu bekommen. Sie ermöglichen das Testen und Evaluieren
        unterschiedlicher Gestaltungslösungen anhand von echten Nutzern. Durch das Testen der Gestaltungslösungen können
        Fehler oder Fehlinterpretationen schon in frühen Projektphasen entdeckt und behoben werden. Somit ist das Risiko
        einer Fehlentwicklung verringert. Fehler, die erst entdeckt werden, wenn das Projekt schon in der Entwicklung
        ist, verursachen weitaus höhere Kosten.
      </div>
    </task-text>
  </task>

  <task id="task-2" section="prototyping">
    <div title>Wie erstellt man einen Clickdummy?</div>
    <div sidebarTitle>Clickdummy erstellen</div>
    <task-text>
      <div info>
        Es gibt unterschiedliche Programme, mit deren Hilfe ein Clickdummy erstellt werden kann. Hier eine kleine
        Auswahl an Tools, die häufig verwendet werden:
        <div infolist><a href="https://www.figma.com/" taskLink>Figma</a></div>
        <div infolist><a href="https://www.sketch.com/" taskLink>Sketch</a></div>
        <div infolist><a href="https://www.adobe.com/products/xd.html" taskLink>Adobe XD</a></div>
        <div infolist><a href="https://www.invisionapp.com/" taskLink>InVision</a></div>
        <div infolist><a href="https://marvelapp.com/" taskLink>Marvel</a></div>
      </div>
      <div info>
        Im Prinzip kann man sagen, dass das Erstellen eines Prototypen über die verschiedenen Tools gleich oder ähnlich
        abläuft. Zuerst einmal wird das Design der Screens erstellt, die gezeigt werden sollen. Nachdem die Screens
        designtechnisch umgesetzt wurden, können diese über die Prototyping-Funktion des Tools miteinander verknüpft
        werden. Je nachdem, welches Tool verwendet wird, gibt es mehr oder weniger Möglichkeiten die Interaktionen zu
        gestalten, die nach dem Klick auf einen Button, Schaltfläche o. ä. stattfinden sollen. Wir verwenden hier Figma
        als Tool. Wie du es auch verwenden kannst und Clickdummies in kurzer Zeit erstellst, zeigen wir dir in dieser
        Sektion.
      </div>
    </task-text>
  </task>

  <task id="task-3" section="prototyping">
    <div title>Figma</div>

    <div description>
      Mit diesem Video lernst du die Grundbausteine von Figma kennen. Auf dem Kanal befinden sich auch noch weitere,
      detailliertere Tutorials.
    </div>
    <task-video youtubelink="https://www.youtube.com/embed/5jHTdapObRk"></task-video>
  </task>

  <task id="task-4" section="prototyping">
    <div title>Projekt</div>

    <task-text>
      <div exercise>
        Falls noch nicht geschehen, ist es nun an der Zeit, mit deinem Projekt zu starten. Wenn du kein eigenes Projekt
        hast, orientiere dich an der Lennetaler Brauerei. Da du jetzt weißt, wie man einen Clickdummy erstellen kann,
        fangen wir damit direkt an.
        <div exerciselist>
          Erstelle einen Clickdummy für dein Projekt. Es müssen noch nicht alle „Clicks“ berücksichtigt werden, aber der
          Prototyp sollte einer dritten Person einen ungefähren Eindruck liefern, was man in deinem System so machen
          kann.
        </div>
        <div exerciselist>
          Eine funktionierende Navigation wäre sinnvoll sowie eine Veranschaulichung, was bei einzelnen Buttons
          passieren soll.
        </div>
      </div>
      <div exercise>
        Behalte dir auch immer im Hinterkopf: <br />
        Das, was du hier als Prototyp darstellst, muss von dir auch später umgesetzt werden. Setze dir selbst also ein
        Ziel, welches du erreichen kanns. Ansonsten viel Spaß beim rumprobieren und wir freuen uns, das Ergebnis im
        Meeting zu sehen!
      </div>
    </task-text>
  </task>
</section>
