<section
  [pageTitle]="'Prototyping'"
  [seoTitle]="'lenne.Learning - Prototyping'"
  [seoDescription]="'Lerne Prototyping mithilfe von lenne.Learning.'"
  [seoKeywords]="'prototyping, academy, online, learning, platform'"
>
  <task id="task-1" section="prototyping">
    <div title>Was sind Clickdummies?</div>
    <div sidebarTitle>Clickdummies</div>
    <task-text>
      <div info>
        Wenn Du dabei bist, ein eigenes webbasiertes Projekt auf die Beine zu stellen, ist es sinnvoll, sich von
        vornherein Gedanken über den Aufbau der Seite zu machen:

        <div infolist>Wo ist die Navbar?</div>
        <div infolist>Gibt es einen Footer?</div>
        <div infolist>Was passiert, wenn ich diesen Knopf drücke?</div>
      </div>
      <div info>
        Genau hier werden Clickdummies wichtig. Sie sind interaktive Prototypen digitaler Produkte und Services, die in
        der Konzeptionsphase eines Projekts zum Einsatz kommen. Clickdummies visualisieren die Idee eines neuer
        digitaler Produkte oder Services. Sie ermöglichen frühes Feedback aus Sicht der Nutzer:innen, aber auch aus der
        Perspektive der Kund:innen. Während Mockups nur ganz grob das Vorhaben skizzieren, geht ein Clickdummy schon
        ordentlich ins Detail. Er gibt allen Projektbeteiligten die Möglichkeit, einen Eindruck vom Endergebnis zu
        bekommen. Das gilt für das Projektteam selbst, aber natürlich auch für die Auftraggeber:innen. Clickdummies
        ermöglichen es damit, unterschiedliche Gestaltungsvarianten durch echte Nutzer:innen testen und evaluieren zu
        lassen. So können Fehler oder Fehlinterpretationen schon in frühen Projektphasen identifiziert und behoben
        werden. Entsprechend lässt sich das Risiko einer Fehlentwicklung reduzieren. Dies spart Zeit und Geld in der
        späteren Entwicklungsphase, denn je später Fehler auffallen, desto aufwendiger ist es, sie zu korrigieren.
      </div>
    </task-text>
  </task>

  <task id="task-2" section="prototyping">
    <div title>Wie wird ein Clickdummy erstellt?</div>
    <div sidebarTitle>Clickdummy erstellen</div>
    <task-text>
      <div info>
        Es gibt unterschiedliche Programme, mit deren Hilfe ein Clickdummy erstellt werden kann. Hier eine kleine
        Auswahl an Tools, die häufig verwendet werden:
        <div infolist><a href="https://www.figma.com/" taskLink>Figma</a></div>
        <div infolist><a href="https://www.sketch.com/" taskLink>Sketch</a></div>
        <div infolist><a href="https://www.adobe.com/products/xd.html" taskLink>Adobe XD</a></div>
        <div infolist><a href="https://www.invisionapp.com/" taskLink>InVision</a></div>
        <div infolist><a href="https://marvelapp.com/" taskLink>Marvel</a></div>
      </div>
      <div info>
        Im Prinzip lässt sich sagen, dass das Erstellen eines Clickdummies über die verschiedenen Tools gleich oder
        ähnlich abläuft. Zuerst wird das Design der Screens erstellt, die gezeigt werden sollen. Nachdem die Screens
        designtechnisch umgesetzt wurden, können sie über die Prototyping-Funktion des Tools miteinander verknüpft
        werden. Je nachdem, welches Tool Du verwendest, wird es mehr oder weniger Gestaltungsmöglichkeiten für den
        Clickdummy geben. Dies betrifft den Umfang der Interaktionen, die nach dem Klick auf einen Button, Schaltfläche
        o. ä. stattfinden sollen. In dieser Sektion zeigen wir Dir am Beispiel des Tools Figma wie Du innerhalb kurzer
        Zeit einen Clickdummy erstellen kannst.
      </div>
    </task-text>
  </task>

  <task id="task-3" section="prototyping">
    <div title>Figma</div>

    <div description>
      In diesem Video lernst Du die Grundbausteine von Figma kennen. Auf dem Kanal befinden sich auch noch weitere,
      detailliertere Tutorials für Dich.
    </div>
    <task-video youtubelink="https://www.youtube.com/embed/5jHTdapObRk"></task-video>
  </task>

  <task id="task-4" section="prototyping">
    <div title>Projekt</div>

    <task-text>
      <div exercise>
        Falls noch nicht geschehen, ist es nun an der Zeit, mit Deinem eigenen Projekt zu starten. Wenn Du kein eigenes
        Projekt hast, orientiere Dich an der Lennetaler Brauerei. Da Du jetzt weißt, wie man einen Clickdummy erstellen
        kann, fangen wir direkt damit an.
        <div exerciselist>
          Erstelle einen Clickdummy für Dein Projekt. Es müssen noch nicht alle „Clicks“ berücksichtigt werden, aber der
          Prototyp sollte einer dritten Person einen ungefähren Eindruck vermitteln, was sie in Deinem System so machen
          kann.
        </div>
        <div exerciselist>
          Eine funktionierende Navigation sowie eine Veranschaulichung, was bei einzelnen Buttons passieren soll, wäre
          sinnvoll.
        </div>
      </div>
      <div exercise>
        Behalte auch immer im Hinterkopf: <br />
        Das, was Du hier als Prototyp darstellst, muss auch später von Dir umgesetzt werden. Setze Dir selbst also ein
        Ziel, das Du erreichen kannst. Ansonsten viel Spaß beim rumprobieren. Wir freuen uns, das Ergebnis im Meeting zu
        sehen!
      </div>
    </task-text>
  </task>
</section>
