<div class="row">
  <div class="col-12 col-xl-6">
    <div class="banner-text">
      <h1 class="title" [innerHTML]="title"></h1>
      <h2 class="subtitle" [innerHTML]="subtitle"></h2>
      <button class="mt-3" nbButton status="primary" *ngIf="showAcademyBtn" (click)="setRecommendation()">
        Wähle deinen Lernpfad
      </button>
      <button class="mt-3" nbButton status="warning" *ngIf="showContactBtn" (click)="sendOffer()">Kontakt</button>
    </div>
  </div>
  <div class="d-none col-xl-6 d-xl-flex justify-content-end">
    <img loading="lazy" class="banner-img" [src]="imageUrl" alt="Illustration" />
  </div>
</div>
