.card-text {
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
}

.accordion-text {
  line-height: 2rem;
}

a {
  color: var(--link-text-color);
}

@media screen and (max-width: 576px) {
  nb-accordion {
    overflow: scroll;
    position: absolute;
  }
}
