@import 'src/assets/scss/utils';
.card-text {
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

.accordion-text {
  line-height: 2rem;
}

a {
  color: var(--link-text-color);
}

nb-accordion {
  overflow: scroll;
  position: absolute;
}

@include media-breakpoint-up(sm) {
  nb-accordion {
    overflow: auto;
    position: relative;
  }
}
