<section
  [pageTitle]="'Der Beruf Webentwickler'"
  [seoTitle]="'ltakademie - Der Beruf Webentwickler'"
  [seoDescription]="'Lerne den Beruf Webentwickler etwas besser kennen.'"
  [seoKeywords]="'beruf, webentwickler, developer, academy, online, learning, platform, akademie'"
>
  <task id="task-1" section="beruf">
    <div title>Video</div>
    <div description>
      Schaue dir diese Videoabschnitte an, um zu erfahren, was einen Webentwickler überhaupt ausmacht und welche
      Technologien wichtig sind.
    </div>
    <task-video [youtubelink]="'https://www.youtube.com/embed/AvRnLJ9WO8A'">
      <div videolist>Abschnitt 1: Einführung</div>
      <div videolist>Abschnitt 2: Was ist Webentwicklung?</div>
      <div videolist>Abschnitt 3: Wie fange ich an?</div>
      <div videolist>Abschnitt 4: Die absoluten Basics</div>
      <div videolist>Abschnitt 5: Weitere Essentials</div>
      <div videolist>Abschnitt 6: Front- oder Backend?</div>
      <div videolist>Abschnitt 7: Ausblick Frontend</div>
      <div videolist>Abschnitt 8: Ausblick Backend</div>
      <div videolist>Abschnitt 9: Disclaimer</div>
    </task-video>
  </task>

  <task id="task-2" section="beruf">
    <div sidebarTitle>Was?</div>
    <div title>Was macht ein Webentwickler?</div>

    <task-text>
      <div info>
        Ein Webentwickler entwickelt webbasierte Softwarelösungen, sogenannte Webanwendungen. Dazu gehören folgende
        Schritte:
      </div>
      <div infolist>Konzeption und Planung</div>
      <div infolist>UX-Desgin</div>
      <div infolist>Programmierung</div>
      <div infolist>Testen</div>
      <div infolist>Bereitstellung</div>
      <div infolist>Weiterentwicklung</div>
      <div infolist>Wartung</div>
      <div infolist>Optimierung</div>
    </task-text>
  </task>

  <task
    id="task-3"
    section="beruf"
    [image]="{
      url: '../../assets/images/academy-images/roadmapping.svg',
      alt: 'Illustration einer Frau die an einer Roadmap arbeitet'
    }"
  >
    <div sidebarTitle>Wo?</div>
    <div title>Wo kann man arbeiten?</div>

    <task-text>
      <div info>Es gibt verschiedenste Unternehmen, in denen man als Webentwickler tätig sein kann, z. B.:</div>
      <div infolist>In Softwareschmieden und Systemhäusern</div>
      <div infolist>In Internet-, Medien- und Fullservice-Agenturen</div>
      <div infolist>Allgemein in Organisationen mit eigener IT-Abteilung</div>
      <div infolist>Außerdem kannst du dich auch selbstständig machen und als Freelancer arbeiten</div>
    </task-text>
  </task>

  <task id="task-4" section="beruf">
    <div sidebarTitle>Wie?</div>
    <div title>Gibt es Spezialisierungen?</div>

    <task-text>
      <div info>
        Es gibt unter anderem die Schwerpunkte Architektur, Programmierung und Datenbanken. Grundsätzlich lässt sich
        eine Webanwendung in Frontend und Backend unterteilen. Als Frontend wird dabei all das bezeichnet, was in einem
        Browser (oder browserähnlichen Umgebung) läuft. Das Backend umfasst all die Dinge, die auf einem Server laufen.
        Du hast die Möglichkeit, dich in einem der beiden Bereiche zu spezialisieren oder als Fullstack-Developer
        (Frontend und Backend) tätig zu werden.
      </div>
    </task-text>
  </task>

  <task
    id="task-5"
    section="beruf"
    [image]="{
      url: '../../assets/images/academy-images/growth.svg',
      alt: 'Illustration eines Mannes, der auf einer Rakete steht'
    }"
  >
    <div sidebarTitle>Wann?</div>
    <div title>Ab wann bin ich ein Webentwickler?</div>

    <task-text>
      <div info>
        Zur Grundausstattung eines Webentwicklers zählen Auszeichnungssprachen, Stylesheetsprachen und webspezifische
        Programmiersprachen. Als Grundbaustein sind diese drei sehr wichtig:
        <a href="https://developer.mozilla.org/de/docs/Learn/Getting_started_with_the_web/HTML_basics" taskLink>HTML</a
        >,
        <a href="https://developer.mozilla.org/de/docs/Learn/Getting_started_with_the_web/CSS_basics" taskLink>CSS</a>
        und <a href="https://developer.mozilla.org/de/docs/Web/JavaScript" taskLink>JavaScript</a><br /><br />
        Darüber hinaus ist es sinnvoll, ein
        <a href="https://de.wikipedia.org/wiki/Framework" taskLink>Framework</a> zu nutzen, das einem im Aufbau einer
        Website viel Arbeit erspart. Wir setzen auf
        <a href="https://de.wikipedia.org/wiki/Angular" taskLink>Angular</a>, welches mit
        <a href="https://de.wikipedia.org/wiki/TypeScript" taskLink>TypeScript</a> arbeitet. <br /><br />
        Wenn du diese Dinge gelernt hast, kannst du dich selber als Webentwickler im Bereich Frontend bezeichnen. Was
        dir jetzt fehlt, ist Routine und Erfahrung. Aber keine Sorge, die kommen mit der Zeit, in der man mit diesen
        Technologien arbeitet. <br /><br />
        Für das Backend gibt es viele verschiedene Programmiersprachen und
        <a href="https://de.wikipedia.org/wiki/Datenbank" taskLink>Datenbanken</a> (zur strukturierten Speicherung von
        Daten). Im Backend setzen wir ebenfalls auf JavaScript (<a href="https://de.wikipedia.org/wiki/Node.js" taskLink
          >Node.js</a
        >). Zusätzlich nutzen wir Nest.js (JavaScript / TypeScript Framework) sowie
        <a href="https://de.wikipedia.org/wiki/GraphQL" taskLink>GraphQL</a> zur Übermittlung von Daten und
        <a href="https://www.mongodb.com/de-de" taskLink>MongoDB</a> als Datenbank.<br /><br />
        Wenn du zu diesen Abschnitten Kenntnisse gesammelt hast, bist du ein Webentwickler im Bereich Backend.
        <br /><br />
        Als Fullstack-Developer arbeitest du sowohl im Frontend als auch im Backend und verbindest beide Bereiche
        miteinander.
      </div>
    </task-text>
  </task>

  <task id="task-6" section="beruf">
    <div sidebarTitle>Wie viel?</div>
    <div title>Was kann man verdienen?</div>

    <task-text>
      <div info>
        Es gibt viele Faktoren, die dein Gehalt beeinflussen. Die Größe des Unternehmens, dein Abschluss, die
        Spezialisierung und Erfahrung des Entwicklers (Frontend, Backend, Fullstack) und vieles mehr. Jede Quelle gibt
        einem einen anderen Durchschnittsbetrag an. Als Richtwert kann man mit 40.000€ oder mehr rechnen.
      </div>
    </task-text>
  </task>
</section>
