<section
  [pageTitle]="'Der Beruf Webentwickler'"
  [seoTitle]="'ltacademy - Der Beruf Webentwickler'"
  [seoDescription]="'Lerne den Beruf Webentwickler etwas besser kennen.'"
  [seoKeywords]="'beruf, webentwickler, developer, academy, online, learning, platform'"
>
  <task id="task-1">
    <div sidebarTitle>Was?</div>
    <div title>Was macht ein Webentwickler?</div>

    <task-text>
      <div info>Ein Webentwickler entwickelt webbasierte Softwarelösungen, sogenannte Webanwendungen. Dazu gehört:</div>
      <div infolist>Konzeption und Planung</div>
      <div infolist>Desgin</div>
      <div infolist>Programmierung</div>
      <div infolist>Testen</div>
      <div infolist>Weiterentwicklung</div>
      <div infolist>Wartung</div>
      <div infolist>Optimierung</div>
    </task-text>
  </task>

  <task id="task-2">
    <div sidebarTitle>Wo?</div>
    <div title>Wo kann man arbeiten?</div>

    <task-text>
      <div info>Es gibt verschiedenste Anstellungen, in denen man als Webentwickler tätig sein kann:</div>
      <div infolist>In Internet-, Medien- und Fullservice-Agenturen</div>
      <div infolist>Allgemein in Organisationen mit eigener IT-Abteilung</div>
    </task-text>
  </task>

  <task id="task-3">
    <div sidebarTitle>Wie?</div>
    <div title>Gibt es Spezialisierungen?</div>

    <task-text>
      <div info>
        Es gibt die Schwerpunkte Architektur, Programmierung und Datenbanken. Unterteilt wird alles in die Frontend- und
        Backend-Entwicklung. Da gibt es die Möglichkeit, sich auf eine Seite zu spezialisieren oder als
        Fullstack-Developer (Frontend und Backend) zu arbeiten.
      </div>
    </task-text>
  </task>

  <task id="task-4">
    <div sidebarTitle>Wann?</div>
    <div title>Ab wann bin ich ein Webentwickler?</div>

    <task-text>
      <div info>
        Zur Grundausstattung eines Webentwicklers zählen Skript-, Template- und webspezifische Programmiersprachen. Als
        Grundbaustein sind diese drei sehr wichtig: HTML, CSS und JavaScript <br />
        Darüber hinaus ist es sinnvoll, ein Framework zu nutzen, dass einem im Aufbau einer Website viel Arbeit erspart.
        Wir setzen dabei auf Angular, welches mit TypeScript arbeitet. <br />
        Wenn du diese Dinge gelernt hast, kannst du dich selber einen Webentwickler im Bereich Frontend nennen. Was dir
        jetzt fehlt ist Routine und Erfahrung und die kommt mit der Zeit, die man mit den Technologien arbeitet. <br />
        Für das Backend benötigst du Kenntnisse in JavaScript (Node.js) und in Datenbanken. Wir setzen hierbei auf
        Nest.js sowie GraphQL und eine MongoDB-Datenbank, daher ist auch hier TypeScript mit im Spiel. <br />
        Wenn du zu diesen Abschnitten Kenntnisse gesammelt hast, bist du auch ein Webentwickler im Bereich Backend.
        <br />
        Als Fullstack-Developer führst du beide Bereiche zusammen, du arbeitest also sowohl im Frontend, als auch im
        Backend.
      </div>
    </task-text>
  </task>

  <task id="task-5">
    <div sidebarTitle>Wie viel?</div>
    <div title>Was kann man verdienen?</div>

    <task-text>
      <div info>
        Es gibt viele Faktoren, die dein Gehalt beeinflussen. Die Größe des Unternehmens, dein Abschluss, die Art des
        Entwicklers (Frontend, Backend, Fullstack) und vieles mehr. Jede Quelle gibt einem einen anderen Durchschnitt.
        Als Richtwert kann man mit 40.000€ oder mehr rechnen.
      </div>
    </task-text>
  </task>
</section>
