// #################################################################
// Init nebular
// #################################################################
@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

// #################################################################
// Vendor Styles
// #################################################################
@import 'vendors/bootstrap-overwrites';
@import 'vendors/bootstrap-utils';
@import 'vendors/bootstrap';

// #################################################################
// Custom utils
// #################################################################
@import 'utils/colors';
@import 'utils/variables';

// #################################################################
// Base
// #################################################################
@import 'base/layout';
@import 'base/inputs';
@import 'base/typographie';
@import 'base/helper';
@import 'base/modal';
@import 'base/checkbox';
