@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    layout-text-font-size: 18px,
    layout-text-line-height: 30px,
    color-info-100: #d8ecfe,
    color-info-200: #b2d7fe,
    color-info-300: #8bbffe,
    color-info-400: #6eaafe,
    color-info-500: #3f87fe,
    color-info-600: #2e68da,
    color-info-700: #1f4db6,
    color-info-800: #143593,
    color-info-900: #0c2479,
    color-info-transparent-100: rgba(63, 135, 254, 0.08),
    color-info-transparent-200: rgba(63, 135, 254, 0.16),
    color-info-transparent-300: rgba(63, 135, 254, 0.24),
    color-info-transparent-400: rgba(63, 135, 254, 0.32),
    color-info-transparent-500: rgba(63, 135, 254, 0.4),
    color-info-transparent-600: rgba(63, 135, 254, 0.48),
    color-success-100: #defdd8,
    color-success-200: #b7fbb2,
    color-success-300: #89f38c,
    color-success-400: #6ae779,
    color-success-500: #3cd85e,
    color-success-600: #2bb958,
    color-success-700: #1e9b51,
    color-success-800: #137d48,
    color-success-900: #0b6742,
    color-success-transparent-100: rgba(60, 216, 94, 0.08),
    color-success-transparent-200: rgba(60, 216, 94, 0.16),
    color-success-transparent-300: rgba(60, 216, 94, 0.24),
    color-success-transparent-400: rgba(60, 216, 94, 0.32),
    color-success-transparent-500: rgba(60, 216, 94, 0.4),
    color-success-transparent-600: rgba(60, 216, 94, 0.48),
    color-primary-100: #cde5fb,
    color-primary-200: #9dc9f8,
    color-primary-300: #6aa3eb,
    color-primary-400: #447fd8,
    color-primary-500: #1150be,
    color-primary-600: #0c3da3,
    color-primary-700: #082d88,
    color-primary-800: #051f6e,
    color-primary-900: #03165b,
    color-primary-transparent-100: rgba(17, 80, 190, 0.08),
    color-primary-transparent-200: rgba(17, 80, 190, 0.16),
    color-primary-transparent-300: rgba(17, 80, 190, 0.24),
    color-primary-transparent-400: rgba(17, 80, 190, 0.32),
    color-primary-transparent-500: rgba(17, 80, 190, 0.4),
    color-primary-transparent-600: rgba(17, 80, 190, 0.48),
    color-warning-100: #fef3d6,
    color-warning-200: #fee5ad,
    color-warning-300: #fcd184,
    color-warning-400: #fabe66,
    color-warning-500: #f8a034,
    color-warning-600: #d57e26,
    color-warning-700: #b2601a,
    color-warning-800: #8f4510,
    color-warning-900: #773209,
    color-warning-transparent-100: rgba(248, 160, 52, 0.08),
    color-warning-transparent-200: rgba(248, 160, 52, 0.16),
    color-warning-transparent-300: rgba(248, 160, 52, 0.24),
    color-warning-transparent-400: rgba(248, 160, 52, 0.32),
    color-warning-transparent-500: rgba(248, 160, 52, 0.4),
    color-warning-transparent-600: rgba(248, 160, 52, 0.48),
    color-danger-100: #fee6dd,
    color-danger-200: #fec8bc,
    color-danger-300: #fca499,
    color-danger-400: #f9817f,
    color-danger-500: #f55662,
    color-danger-600: #d23e57,
    color-danger-700: #b02b4d,
    color-danger-800: #8e1b43,
    color-danger-900: #75103c,
    color-danger-transparent-100: rgba(245, 86, 98, 0.08),
    color-danger-transparent-200: rgba(245, 86, 98, 0.16),
    color-danger-transparent-300: rgba(245, 86, 98, 0.24),
    color-danger-transparent-400: rgba(245, 86, 98, 0.32),
    color-danger-transparent-500: rgba(245, 86, 98, 0.4),
    color-danger-transparent-600: rgba(245, 86, 98, 0.48),
    background-basic-color-3: #fff,
    header-padding: 0,
  ),
  corporate,
  corporate
);
