@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    color-info-100: #ccdcfa,
    color-info-200: #9bb8f6,
    color-info-300: #668be4,
    color-info-400: #3e64c9,
    color-info-500: #0d33a6,
    color-info-600: #09278e,
    color-info-700: #061c77,
    color-info-800: #041360,
    color-info-900: #020d4f,
    color-info-transparent-100: rgba(13, 51, 166, 0.08),
    color-info-transparent-200: rgba(13, 51, 166, 0.16),
    color-info-transparent-300: rgba(13, 51, 166, 0.24),
    color-info-transparent-400: rgba(13, 51, 166, 0.32),
    color-info-transparent-500: rgba(13, 51, 166, 0.4),
    color-info-transparent-600: rgba(13, 51, 166, 0.48),
    color-success-100: #cbfde6,
    color-success-200: #98fbd6,
    color-success-300: #64f3cb,
    color-success-400: #3de8c7,
    color-success-500: #04d9c4,
    color-success-600: #02bab9,
    color-success-700: #028f9c,
    color-success-800: #01687d,
    color-success-900: #004c68,
    color-success-transparent-100: rgba(4, 217, 196, 0.08),
    color-success-transparent-200: rgba(4, 217, 196, 0.16),
    color-success-transparent-300: rgba(4, 217, 196, 0.24),
    color-success-transparent-400: rgba(4, 217, 196, 0.32),
    color-success-transparent-500: rgba(4, 217, 196, 0.4),
    color-success-transparent-600: rgba(4, 217, 196, 0.48),
    color-primary-100: #cbfcfd,
    color-primary-200: #98f3fb,
    color-primary-300: #64def3,
    color-primary-400: #3dc3e8,
    color-primary-500: #049dd9,
    color-primary-600: #027aba,
    color-primary-700: #025b9c,
    color-primary-800: #01417d,
    color-primary-900: #002e68,
    color-primary-transparent-100: rgba(4, 157, 217, 0.08),
    color-primary-transparent-200: rgba(4, 157, 217, 0.16),
    color-primary-transparent-300: rgba(4, 157, 217, 0.24),
    color-primary-transparent-400: rgba(4, 157, 217, 0.32),
    color-primary-transparent-500: rgba(4, 157, 217, 0.4),
    color-primary-transparent-600: rgba(4, 157, 217, 0.48),
    background-basic-color-3: #fff,
  ),
  corporate,
  corporate
);
