<nb-card class="task">
  <nb-card-header [ngClass]="{ completedtop: completed }">
    <ng-content select="[title]"></ng-content>
  </nb-card-header>
  <nb-card-body>
    <ng-content select="[description]"></ng-content>
    <ng-content></ng-content>
  </nb-card-body>
  <nb-card-footer [ngClass]="{ completed: completed }" class="d-flex justify-content-center">
    <button nbButton status="success" (click)="onComplete()">{{ completed ? '&#x2713;' : 'Erledigt' }}</button>
  </nb-card-footer>
</nb-card>
