<nb-card class="task">
  <nb-card-header
    [ngClass]="{ completedtop: completed }"
    class="d-flex justify-content-between align-items-center flex-row"
  >
    <ng-content select="[title]"></ng-content>
    <i
      *ngIf="hint || videoReference || solutionLink"
      class="bi bi-question-circle cursor-pointer"
      (click)="openHelp()"
    ></i>
  </nb-card-header>
  <nb-card-body>
    <ng-content select="[description]"></ng-content>
    <ng-content></ng-content>
  </nb-card-body>
  <nb-card-footer [ngClass]="{ completed: completed }" class="d-flex justify-content-center">
    <button nbButton status="success" (click)="onComplete()">{{ completed ? '&#x2713;' : 'Erledigt' }}</button>
  </nb-card-footer>
</nb-card>
