::ng-deep.task {
  &-title {
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 500;
    margin: 0.3em 0;
  }

  .sidebar-title {
    display: none;
  }

  .description {
    font-size: 1.5rem;
    line-height: 1.3em;
    margin-bottom: 1.2em;
  }

  .completed {
    background-color: var(--color-success-500);
    color: white;
  }

  .link {
    text-decoration: underline;
    color: var(--card-text-color);

    &:hover {
      text-decoration: none;
      color: var(--color-info-500);
    }
  }
}

.completedtop {
  box-sizing: border-box;
  border-top: 5px solid var(--color-success-500);
}

nb-card-footer {
  border: none;
}
nb-card-header {
  border: none;
}

nb-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
}

button:focus {
  box-shadow: none;
  background-color: var(--color-success-500) !important;
  border: none !important;
}

.bi {
  font-size: 18px;
}

.bi-question-circle:hover {
  color: var(--color-primary-500);
  transition: 0.3s;
}
