<nb-card class="task" [ngClass]="{ completed: completed }">
  <nb-card-header>
    <div class="row">
      <div class="col-7 d-flex align-items-center">
        <ng-content select="[title]"></ng-content>
      </div>
      <div class="col-5 d-flex justify-content-end align-items-center">
        <div #popLink class="pop-link">Link zur Aufgabe kopiert!</div>
        <i
          class="bi cursor-pointer p-1"
          (click)="share()"
          [ngClass]="{ 'bi-clipboard': !check, 'bi-clipboard-check': check }"
        >
        </i>
        <i
          *ngIf="(hint || videoReference || solutionLink) && !completed"
          class="bi bi-question-circle cursor-pointer p-1"
          (click)="openHelp()"
        ></i>
        <i
          class="bi p-1 cursor-pointer"
          [ngClass]="{ 'bi-check-circle': !completed, 'bi-check': completed }"
          (click)="onComplete()"
        ></i>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="p-0">
    <div class="overflow-hidden" [@collapse]="completed">
      <div class="row mt-3">
        <div class="col-12 col-xl-7">
          <ng-content select="[description]"></ng-content>
          <ng-content></ng-content>
        </div>
        <div class="col-12 col-xl-5 overflow-hidden d-flex justify-content-center" *ngIf="image">
          <img [src]="image.url" [alt]="image.alt" loading="lazy" />
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
