<section
  [pageTitle]="'Docker Basics'"
  [seoTitle]="'ltakademie - Docker'"
  [seoDescription]="'Lerne Docker mithilfe der ltakademie.'"
  [seoKeywords]="'docker, academy, online, learning, platform, akademie'"
>
  <task id="task-1" section="docker-basics">
    <div title>Inhalt</div>

    <task-text>
      <div info>
        Nun kommen wir in den Bereich des Backends. Eine sehr hilfreiche Software hierbei ist Docker. Was sind Container
        und Images und wofür werden sie verwendet? Das bringen wir dir in diesem Abschnit bei. <br />
        Da für die kommende Sektion nur ein Kleinteil von Docker verwendet wird, wollen wir hier auch noch nicht zu viel
        abarbeiten. Wir klären nur die Basics.
      </div>
    </task-text>
  </task>
  <task id="task-2" section="docker-basics">
    <div title>Was ist Docker</div>

    <task-text>
      <div info>
        Docker ist eine Möglichkeit Software so zu verpacken, dass sie in jeder Umgebung laufen kann. Unterteilt wird
        dies in drei Teile: Dockerfile, Image und Container <br />
        Ein Dockerfile ist eine Entwurf, um Images zu bauen. Ein Image ist ein Template, um Container laufen zu lassen.
        Ein Container ist ein laufender Prozess. <br />
        Lässt du zum Beispiel auf deinem Laptop oder Pc eine Anwendung laufen, die einwandfrei funktioniert, heißt das
        nicht, dass sie auf allen Geräten funktioniert. Da kommen unterschiedliche Versionen von Paketen aber auch
        andere Betriebsysteme als Grund für auf. Durch Docker können solche Fehler vorgebeugt werden, da die Anwendung
        nun in der selben Umgebung läuft.
      </div>
    </task-text>
  </task>
</section>
