<section
  [pageTitle]="'Docker Basics'"
  [seoTitle]="'lenne.Learning - Docker'"
  [seoDescription]="'Lerne Docker mithilfe von lenne.Learning.'"
  [seoKeywords]="'docker, academy, online, learning, platform, akademie'"
>
  <task id="task-1" section="docker-basics">
    <div title>Inhalt</div>

    <task-text>
      <div info>
        Eine sehr hilfreiche Software im Bereich des Backends ist Docker. In diesem Abschnitt bringen wie Dir bei, was
        Container und Images sind und wofür sie verwendet werden. <br />
        Da für die kommende Sektion nur ein kleiner Teil von Docker verwendet wird, wollen wir hier auch noch nicht zu
        tief in das Thema eintauchen. Wir klären hier nur die Basics.
      </div>
    </task-text>
  </task>
  <task id="task-2" section="docker-basics">
    <div title>Was ist Docker</div>

    <task-text>
      <div info>
        Docker bietet die Möglichkeit, Software so zu verpacken, dass sie in jeder Umgebung laufen kann. Unterteilt wird
        das Ganze in drei Teile: Dockerfile, Image und Container. <br />
        Ein Dockerfile ist ein Entwurf, um Images zu bauen. Ein Image ist ein Template, um Container laufen zu lassen.
        Ein Container ist ein laufender Prozess. <br />
        Lässt Du zum Beispiel auf Deinem Laptop oder PC eine Anwendung laufen, die einwandfrei funktioniert, heißt das
        nicht, dass sie auf allen Geräten funktioniert. Gründe dafür können z. B. unterschiedliche Versionen von
        Paketen, aber auch andere Betriebssysteme sein. Durch Docker kann solchen Fehler vorgebeugt werden, da die
        Anwendung nun immer in derselben Umgebung läuft.
      </div>
    </task-text>
  </task>
</section>
