<nb-card class="card">
  <nb-card-body class="d-flex align-items-top justify-content-around">
    <div class="d-flex flex-column align-items-center w-100">
      <a [href]="sponsor.mainPageLink" target="_blank"
        ><img loading="lazy" class="card-img" [src]="sponsor.imageUrl" [alt]="sponsor.imageAlt"
      /></a>
      <h3 class="card-title">{{ sponsor.title }}</h3>
      <ul class="list">
        <li class="list-item" *ngFor="let item of sponsor.careerType">{{ item }}</li>
      </ul>
      <a [href]="sponsor.careerLink" target="_blank" class="mt-5"
        ><button class="ps-4 pe-4 career-btn" nbButton status="warning" data-cy="career-link-btn">
          Karriere <i class="bi bi-arrow-right"></i></button
      ></a>
      <div class="d-flex align-items-start mt-5">
        <img
          [src]="
            sponsor.isOnlySponsor
              ? '../../../../../assets/images/quote_orange.svg'
              : '../../../../../assets/images/quote_blue.svg'
          "
          alt="Illustration eines Anführungszeichens"
          loading="lazy"
        />
        <p class="card-statement">{{ sponsor.statement }}</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
