<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column class="p-0 d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <img class="error-image" loading="lazy" src="../../../assets/images/ERROR.svg" alt="Error Illustration" />
      <h1>404 - Seite nicht gefunden</h1>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
