<section
  [pageTitle]="'CSS'"
  [seoTitle]="'ltakademie - CSS'"
  [seoDescription]="'Lerne CSS mithilfe der ltakademie.'"
  [seoKeywords]="'css, academy, online, learning, platform, akademie'"
>
  <task id="task-1" section="css">
    <div title>Video</div>
    <div description>Schaue dir diese Videoabschnitte an und komme danach wieder hier hin</div>

    <task-video
      [link]="'https://www.udemy.com/course/web-entwickler-masterclass/learn/lecture/12267358#overview'"
      [videoPreview]="'../../../../../assets/images/udemy/css-1.png'"
    >
      <div videolist>Abschnitt 4: CSS Grundlagen</div>
      <div videolist>Abschnitt 5: Projekt HTML und CSS</div>
      <div videolist>Abschnitt 6: Expertenwissen: CSS (Teil 1)</div>
      <div videolist>Abschnitt 7: Expertenwissen: CSS (Teil 2)</div>
      <div videolist>Abschnitt 10: Flexbox</div>
    </task-video>
  </task>

  <task id="task-2" videoReference="Abschnitt 4 - CSS Grundlagen" section="css">
    <div title>Fragen</div>
    <div description>Beantworte die Fragen so gut wie möglich und am besten ohne Hilfe.</div>

    <task-questions>
      <div questionlist>Inwiefern unterscheidet sich ein CSS Dokument von einem HTML Dokument?</div>
      <div questionlist>
        Welche Möglichkeiten gibt es Style Sheets in ein HTML Dokument einzubinden? Was sind die Vor- und Nachteile der
        verschiedenen Möglichkeiten?
      </div>
      <div questionlist>
        Nenne und erläutere die verschiedenen Möglichkeiten, wie du HTML Elemente mithilfe von CSS verändern kannst.
      </div>
      <div questionlist>Was sind Selektoren? Wie kannst du sie gruppieren oder erweitern?</div>
      <div questionlist>Was sind Pseudoklassen und wofür kannst du sie verwenden?</div>
      <div questionlist>
        Worin unterscheiden sich Padding, Margin und Border? Welche Einheiten können an dieser Stelle genutzt werden?
      </div>
      <div extraquestion>Wie kannst du CSS Attribute aus schon vorhandenen Selektoren forcierend überschreiben?</div>
    </task-questions>
  </task>

  <task
    id="task-3"
    solutionLink="https://stackblitz.com/edit/css-lebenslauf?file=index.html"
    videoReference="Abschnitt 4 - CSS Grundlagen"
    section="css"
    [image]="{
      url: '../../assets/images/academy-images/dashboard.svg',
      alt: 'Illustration eines Mannes, der vor einem Online Dashboard steht'
    }"
  >
    <div title>CSS Lebenslauf</div>

    <task-text>
      <div exercise>
        Verändere deinen Lebenslauf mit CSS. Verwende dazu alle Möglichkeiten, wie du CSS einbinden sowie HTML Elemente
        verändern kannst mindestens einmal. Gehe dabei wie folgt vor:
      </div>
      <div exerciselist>Verändere den Hintergrund, indem du zum Beispiel eine Farbe oder ein Bild festlegst.</div>
      <div exerciselist>
        Die HTML Standard Font ist ziemlich langweilig, suche nach einer modernen Schrift und binde sie in deinen
        Lebenslauf ein. Verschiedene Fonts findest du unter anderem
        <a href="https://fonts.google.com/" taskLink>hier</a>.
      </div>
      <div exerciselist>
        Hebe die Überschrift noch mehr hervor, indem du ihr z. B. eine andere Farbe, Größe oder Ähnliches gibst.
      </div>
      <div exerciselist>
        Verändere dein Bild, indem du zum Beispiel die Größe oder Border anpasst, Margin oder Padding einfügst.
      </div>
      <div exerciselist>
        Vereinheitliche die Farbe oder Größe von kursiv oder fett gedruckten Texten, indem du dessen Selektoren
        gruppierst und so die entsprechenden Attribute änderst.
      </div>
      <div exerciselist>
        Hebe den jeweils ersten Stichpunkt der beiden Listen hervor, indem du dessen Farbe oder Ähnliches änderst.
      </div>
      <div exerciselist>
        Verändere mithilfe von Pseudoklassen z. B. die Hintergrundfarbe eines Inputfeldes, wenn der Nutzer darüber
        „hovert“.
      </div>
      <div exerciselist>Zuletzt kannst du den Hintergrund vom Footer ändern und den Unterstrich im Link entfernen.</div>
    </task-text>
  </task>

  <task id="task-4" section="css">
    <div title>Flexbox</div>

    <task-text>
      <div exercise>
        Vertiefe deine Flexbox Kenntnisse mit <a href="https://flexboxfroggy.com/" taskLink>CSS Froggy</a>. Spiele alle
        24 Level auf dieser Website, um das Erlernte in die Praxis umzusetzen.
      </div>
      <div exercise>
        Wenn du Tower Defense Spiele magst, kannst du auch noch in
        <a href="http://www.flexboxdefense.com/" taskLink>Flex Box Defense</a> reinschauen.
      </div>
      <div exercise>
        Wenn dir Flexbox Froggy gefallen hat, empfehlen wir dir auch noch mithilfe von
        <a href="https://cssgridgarden.com/" taskLink>Grid Garden</a> das CSS Grid System zu verstehen. Dieser Teil ist
        jedoch optional.
      </div>
    </task-text>
  </task>

  <task id="task-5" section="css">
    <div sidebarTitle>Zusammenfassung</div>
    <div title>Zusammenfassung Flexbox</div>
    <div description>Jetzt, wo du Flexbox kennengelernt hast, hier noch eine Zusammenfassung.</div>
    <task-video [youtubelink]="'https://www.youtube.com/embed/K74l26pE4YA'"> </task-video>
  </task>

  <task id="task-6" section="css">
    <div sidebarTitle>Zusammenfassung</div>
    <div title>Zusammenfassung SASS</div>
    <div description>Dieses Video gibt dir einen Einblick in SASS, einer Erweiterung zu CSS.</div>
    <task-video [youtubelink]="'https://www.youtube.com/embed/akDIJa0AP5c'"> </task-video>
  </task>
</section>
