.row-lg-reverse {
  flex-direction: column-reverse;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.color-primary {
  color: var(--color-primary-500);
}

.color-white {
  color: $white !important;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-100 {
  margin-top: 70px;
}

.vertical-stripe {
  width: 100%;
  height: 400px;
}

.bg-primary-200 {
  background-color: var(--color-info-200);
}

.bg-primary-300 {
  background-color: var(--color-info-300);
}

.bg-primary-400 {
  background-color: var(--color-info-400);
}

.bg-primary-500 {
  background-color: var(--color-info-500);
}

.cursor-pointer {
  cursor: pointer;
}
