html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

.section {
  margin-top: 4%;
  margin-bottom: 4%;

  &-title {
    font-size: 42px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 5rem;
    margin-bottom: 8%;
    text-align: center;
  }
}

.header {
  .title {
    font-weight: 600;
    font-size: 1.25rem;
  }

  .header-title-colored {
    color: var(--color-info-500);
  }
}
