::ng-deep.task-questions {
  .questionlist {
    cursor: pointer;
    margin-left: 1.5em;
    display: list-item;
    list-style-type: decimal;
    list-style-position: outside;
    font-size: 1.1rem;
    line-height: 2.5rem;

    &.question-done {
      text-decoration: line-through;
      color: var(--color-success-500);
    }
  }

  .extraquestion {
    cursor: pointer;
    margin-top: 1em;
    padding: 2em;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #cccccc;

    &.question-done {
      text-decoration: line-through;
      color: var(--color-success-500);
    }
  }
  .bi-question-diamond {
    font-size: 48px;
    color: #dddddd;
  }
}
