@import 'src/assets/scss/utils';

.title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.text {
  color: #585858;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.step-space-top {
  @include media-breakpoint-up('lg') {
    margin-top: 180px;
  }
}

.step-image {
  max-width: 400px;
}

.outer-circle {
  border-radius: 50%;
  border: 1px dashed #f2be5c85;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  .circle {
    border-radius: 50%;
    border: 2px solid var(--color-warning-500);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: var(--color-warning-500);
    color: white;
    font-weight: bold;
  }
}

.step-img {
  max-width: 100%;
}
