<div class="container">
  <!-- <img src="../../../../../assets/images/banner-images/icon+name+slogan.svg" alt="" /> -->
  <div class="d-flex header title cursor-pointer align-items-center" routerLink="/">
    <img src="../../../../../assets/images/banner-images/icon.svg" alt="" class="logo" /><span>lenne.Learning</span>
  </div>
  <!-- <div class="title">
    <img src="../../../../../assets/images/banner-images/icon.svg" alt="" class="logo2" />
    <p class="title2">lenne.Learning</p>
  </div> -->
</div>
