<header class="header fixed-top">
  <nav class="navbar navbar-expand-xl navbar-light background">
    <div class="container">
      <div class="w-100 d-flex flex-row justify-content-between d-xl-none">
        <a routerlink="/" class="navbar-brand" href="/"
          ><img
            alt="Logo von lenne.Learning"
            src="../../../../../assets/images/banner-images/icon+name-schub.svg"
            loading="lazy"
            class="logo"
        /></a>
        <button
          type="button"
          class="nav-toggler d-xl-none"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="switch()"
        >
          <i class="bi" [ngClass]="openDropdown ? 'bi-x-lg' : 'bi-list'"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-between background" id="navbarNavDropdown">
        <a routerlink="/" class="navbar-brand d-none d-xl-flex" href="/"
          ><img
            alt="Logo von lenne.Learning"
            src="../../../../../assets/images/banner-images/icon+name-schub.svg"
            loading="lazy"
            class="logo"
        /></a>
        <ul class="navbar-nav d-flex align-items-xl-center">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              data-cy="dropdown-menu"
              [ngStyle]="{
                color:
                  getCurrentRoute().endsWith('/berufsinteressierte') ||
                  getCurrentRoute().endsWith('/praktikanten') ||
                  getCurrentRoute().endsWith('/unternehmen')
                    ? 'rgba(0, 0, 0, 0.9)'
                    : 'rgba(0, 0, 0, 0.55)'
              }"
            >
              Unser Angebot
            </a>
            <app-underline-animation
              currentRoute="{{
                getCurrentRoute().endsWith('/berufsinteressierte') ||
                  getCurrentRoute().endsWith('/praktikanten') ||
                  getCurrentRoute().endsWith('/unternehmen')
              }}"
            ></app-underline-animation>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="item">
                <a
                  class="dropdown-item"
                  routerLink="/berufsinteressierte"
                  routerLinkActive="active"
                  data-cy="dropdown-item"
                  >Berufsinteressierte </a
                ><app-underline-animation
                  currentRoute="{{ getCurrentRoute().endsWith('/berufsinteressierte') }}"
                ></app-underline-animation>
              </li>
              <li class="item">
                <a class="dropdown-item" routerLink="/praktikanten" routerLinkActive="active" data-cy="dropdown-item"
                  >Praktikant:innen</a
                ><app-underline-animation
                  currentRoute="{{ getCurrentRoute().endsWith('/praktikanten') }}"
                ></app-underline-animation>
              </li>
              <li class="item">
                <a class="dropdown-item" routerLink="/unternehmen" routerLinkActive="active" data-cy="dropdown-item"
                  >Unternehmen</a
                >
                <app-underline-animation
                  currentRoute="{{ getCurrentRoute().endsWith('/unternehmen') }}"
                ></app-underline-animation>
              </li>
            </ul>
          </li>
          <li class="nav-item item">
            <a class="nav-link scroll-link" routerLinkActive="active" routerLink="/lernpfade" data-cy="nav-item"
              >Lernpfade</a
            >
            <app-underline-animation
              currentRoute="{{ getCurrentRoute().includes('/lernpfade') }}"
            ></app-underline-animation>
          </li>
          <li class="nav-item item">
            <a class="nav-link scroll-link" routerLinkActive="active" routerLink="/workshops" data-cy="nav-item"
              >Workshops</a
            >
            <app-underline-animation
              currentRoute="{{ getCurrentRoute().endsWith('/workshops') }}"
            ></app-underline-animation>
          </li>
          <li class="nav-item item">
            <a class="nav-link scroll-link" routerLinkActive="active" routerLink="/team" data-cy="nav-item">Team</a>
            <app-underline-animation currentRoute="{{ getCurrentRoute().endsWith('/team') }}"></app-underline-animation>
          </li>

          <li class="nav-item item">
            <a class="nav-link scroll-link" routerLinkActive="active" routerLink="/abonnements" data-cy="nav-item"
              >Abos & Aktionen</a
            >
            <app-underline-animation
              currentRoute="{{ getCurrentRoute().endsWith('/abonnements') }}"
            ></app-underline-animation>
          </li>
          <li class="nav-item item">
            <a
              class="nav-link scroll-link"
              routerLinkActive="active"
              routerLink="/unternehmensnetzwerk"
              data-cy="nav-item"
              >Unternehmensnetzwerk</a
            >
            <app-underline-animation
              currentRoute="{{ getCurrentRoute().endsWith('/unternehmensnetzwerk') }}"
            ></app-underline-animation>
          </li>

          <li class="nav-item item">
            <a class="nav-link scroll-link" routerLinkActive="active" routerLink="/kontakt" data-cy="nav-item"
              >Kontakt</a
            >
            <app-underline-animation
              currentRoute="{{ getCurrentRoute().endsWith('/kontakt') }}"
            ></app-underline-animation>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
