.contact-card {
  background-color: var(--color-primary-500);
  border: none;

  &-title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
  }

  &-text {
    color: #dddddd;
    font-size: 1.15rem;
    line-height: 1.75rem;
    white-space: pre-line;
  }

  &-image {
    height: 300px;
  }

  &-left {
    padding: 3rem;
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
