.contact-card {
  background-color: var(--color-primary-500);
  overflow: hidden;
  box-shadow: 0 0 4px 0 #bdbdbd;
  border: none;

  &-title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
  }

  &-text {
    color: #dddddd;
    font-size: 1.15rem;
    line-height: 1.75rem;
    white-space: pre-line;
  }

  &-image {
    height: 300px;
    width: 600px;
  }

  &-left {
    padding-left: 3rem;
    padding-top: 2rem;
  }
}

nb-card-body {
  overflow: hidden;
}
