@import 'src/assets/scss/utils';
h1 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 40px;
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 72px;
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  min-width: 200px;
  display: none;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: underline;
  color: var(--card-text-color);

  &:hover {
    text-decoration: none;
    color: var(--color-info-500);
  }
}

.bi-link-45deg {
  position: relative;
  top: 3px;
  right: 12px;
}
