<nb-card status="primary">
  <nb-card-header class="title">History</nb-card-header>
  <nb-card-body>
    <div>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Version 1.3.2 </nb-accordion-item-header>
          <nb-accordion-item-body>
            <Ul>
              <li>Version History hinzugefügt</li>
              <li>Diverse Wordings angepasst</li>
              <li>TypeScript Sektion neu strukturiert</li>
              <li>Teamwork Sektion ergänzt und inhaltlich erweitert</li>
              <li>Nützliche Links in den Sektionen erweitert</li>
              <li>Metadaten aktualisiert</li>
            </Ul>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>Version 1.3.1 </nb-accordion-item-header>
          <nb-accordion-item-body>
            <Ul>
              <li>Rebranding zu lenne.Learning</li>
              <li>Sektion Arbeitsmethoden hinzugefügt</li>
              <li>Sektion Bootstrap um Punkte über Responsive Design und UX Design erweitert</li>
              <li>Git-Experte ist nun „Teamwork“, erweitert um Arbeiten als Team, Workflow und Schnittstellen</li>
              <li>Sektion Prototyping hinzugefügt</li>
              <li>Sektion automatisierte Tests hinzugefügt</li>
            </Ul>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Version 1.2.0 </nb-accordion-item-header>
          <nb-accordion-item-body>
            <ul>
              <li>Änderungen an Meta Tags</li>
              <li>Navigationskonflikte gelöst</li>
              <li>Duverse Responsiveness Fehler gefixt</li>
              <li>Fortschritt Reset Option hinzugefügt</li>
              <li>Von tslint zu eslint migriert</li>
              <li>Farben für vorgeschlagenen Entrypoint geändert</li>
            </ul>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Version 1.1.0 </nb-accordion-item-header>
          <nb-accordion-item-body>
            <ul>
              <li>Docker Sektion hinzugefügt</li>
              <li>Cypress Sektion hinzugefügt</li>
              <li>TypeScript Sektion erweitert</li>
              <li>Docker von Nestjs entfernt</li>
              <li>Bildquellen hinzugefügt</li>
            </ul>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row justify-content-around">
      <div class="col-4 d-flex justify-content-around">
        <button class="ms-2" nbButton status="primary" (click)="onAbortBtnClick()">Ok</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
