<app-dialog [dialogBtnOptions]="DialogBtnOptionsEnum.SINGLE" title="Erfolgreich abgeschickt">
  <ng-container confirm-dialog>
    <div class="d-flex flex-column align-items-center">
      <img
        src="../../../../../assets/images/academy-images/thumbs-up.svg"
        alt="Illustration einer Hand die den Daumen nach oben zeigt"
        class="mt-3 mb-3 thumbs-up"
      />
      <h1 class="title">Vielen Dank!</h1>
      <p class="subtitle w-50">Deine Nachricht ist soeben bei uns eingegangen.</p>

      <div class="d-flex justify-content-center w-75 mt-5">
        <img
          src="../../../../../assets/images/academy-images/fliying_letter.png"
          alt="Illustration eines fliegenden Briefes"
          class="flying-letter"
        />
        <p>
          Wir werden versuchen, so schnell wie möglich auf Deine Anfrage zu antworten, um Dich bei Deinem Anliegen so
          gut wie möglich zu unterstützen.
        </p>
      </div>
      <img
        src="../../../../../assets/images/academy-images/customer-support.svg"
        alt="Illustration einer Frau an einem Computer"
        class="customer-support"
      /></div
  ></ng-container>
</app-dialog>
