<section
  [pageTitle]="'Automatisierte Tests'"
  [seoTitle]="'lenne.Learning - Automatisierte Tests'"
  [seoDescription]="'Lerne automatisierte Tests mithilfe von lenne.Learning.'"
  [seoKeywords]="'automatisierte Tests, academy, online, learning, platform'"
>
  <task
    id="task-1"
    section="automatisierte-tests"
    [image]="{
      url: '../../assets/images/academy-images/error.svg',
      alt: 'Illustration einer Frau, die vor einem explodierenden Laptop steht'
    }"
  >
    <div title>Inhalt</div>

    <task-text>
      <div info>
        Wie Du Deine Projekte testen kannst, hast Du schon gelernt. Es gibt Level 1,2 und 3 Tests, die Dein Projekt
        soweit prüfen, dass es so gut wie fehlerfrei fertiggestellt werden kann. Im Bereich des Level 1 Tests gibt es
        aber eine effizientere Alternative: das automatisierte Testen. <br />
        Projekte, egal mit welchem Framework, werden mit der Zeit größer und damit komplexer und unübersichtlicher. Im
        Regelfall wird auch nur die Sektionen der Anwendung getestet, die unmittelbar vorher bearbeitet wurde. Wenn
        diese funktionieren, kann es aber dazu kommen, dass andere Teile nicht mehr funktionsfähig sind. Das fällt dann
        z. T. erst zu spät auf und es ist nicht klar erkennbar, an welcher Stelle sich dieser Fehler eingeschlichen hat.
        Um so einer Situation vorzubeugen, können Tests geschrieben werden, die den Großteil der Applikation abdecken
        und Fehler direkt identifizieren können. Wie das geht, lernst Du jetzt!
      </div>
    </task-text>
  </task>

  <task id="task-2" section="automatisierte-tests">
    <div title>Cypress</div>
    <task-text>
      <div info>
        Mit Cypress können wir Use-Cases testen, z. B. das Einloggen auf die Website usw. Diese Tests können von ihrer
        Komplexität variieren. Um genauer zu verstehen, was Cypress ausmacht und wie Du es verwenden kannst, hier die
        <a href="https://docs.cypress.io/guides/overview/why-cypress" taskLink>Dokumentation von Cypress</a>.
      </div>
    </task-text>
  </task>

  <task id="task-3" section="automatisierte-tests">
    <div title>Video - Cypress</div>
    <div description>In diesen Videos wird Dir gezeigt, was mit Cypress möglich ist.</div>

    <task-video [youtubelink]="'https://www.youtube.com/embed/7N63cMKosIE'"> </task-video>
    <task-video [youtubelink]="'https://www.youtube.com/embed/Txir3jAooMI'"> </task-video>
  </task>

  <task id="task-4" section="automatisierte-tests">
    <div title>Jest</div>
    <task-text>
      <div info>
        Jest ist ein anderes Tool, um Deine Anwendung zu testen. Es wirbt mit einer einfachen und performanten
        Handhabung. Wie es funktioniert und wie Du es in Deine Software einbindest, findest Du in der
        <a href="https://jestjs.io/docs/getting-started" taskLink>Dokumentation von Jest</a>.
      </div>
    </task-text>
  </task>

  <task id="task-5" section="automatisierte-tests">
    <div title>Video - Jest</div>
    <div description>In diesen Videos wird Dir gezeigt, was mit Jest möglich ist.</div>

    <task-video [youtubelink]="'https://www.youtube.com/embed/FgnxcUQ5vho'"> </task-video>
    <task-video [youtubelink]="'https://www.youtube.com/embed/Dt8RtykEglo'"> </task-video>
  </task>

  <task id="task-6" section="automatisierte-tests">
    <div title>Projekt</div>

    <task-text>
      <div exercise>
        Füge Cypress zu Deinem eigenen Projekt hinzu und starte einen Testdurchlauf. Guck Dir dafür die
        <a href="https://docs.cypress.io/guides/getting-started/installing-cypress" taskLink
          >Dokumentation von Cypress</a
        >
        an. Folgende Situationen könntest Du z. B. testen, sofern sie in Deiner Anwendung vorhanden sind:
      </div>
      <div exerciselist>Navigiere einmal komplett durch Deine Anwendung.</div>
      <div exerciselist>
        Versuche auf Seiten Deines Systems zu gelangen, die nicht für alle zugänglich sind und überprüfe das Verhalten.
      </div>
      <div exerciselist>
        Prüfe, ob der Login richtig funktioniert und was passiert, wenn falsche Daten angegeben werden.
      </div>
      <div exerciselist>Lege Inhalte an und speichere sie ab.</div>
      <div exerciselist>Bearbeite Inhalte und lösche sie.</div>
      <div exerciselist>
        Log Dich aus und versuche danach auf eine gesicherte Seite innerhalb Deiner Anwendung zu navigieren.
      </div>
    </task-text>
  </task>

  <task id="task-7" section="automatisierte-tests">
    <div title>Cypress vs. Jest</div>
    <task-text>
      <div info>
        Du hast nun zwei Testing-Tools kennengelernt und fragst Dich sicherlich, welches das richtige für Deine
        Anwendung ist. Dazu solltest Du Folgendes wissen: <br />
        Jest wird zum unit-testing verwendet, während Cypress die End-to-End workflows (E2E) testet. In vielen
        Situationen können beide Tools für den selben Test verwendet werden. Manche Tests beschränken sich auf kleine
        Bereiche Deiner Anwendung - z. B. den Login oder das Hinzufügen eines Produkts in einen Warenkorb. Hier hat Jest
        seine Vorteile, aufgrund des schnelleren Feedback-Loops. Bei einem Test, der viele Komponenten beinhaltet, kommt
        Jest an seine Grenzen. Auf solche Tests ist Cypress ausgelegt. <br />
        <br />
        Die Antwort auf die Frage, welches Tool auf Deinen Fall zutrifft, ist: es kommt darauf an. Je komplexer der
        Test, desto sinnvoller wird Cypress. Je simpler der Test, desto sinnvoller ist Jest. Da Du vermutlich beide
        Arten von Tests in Deiner Anwendung hast, bietet es sich an, beide Tools zu verwenden und je nach Testart zu
        entscheiden.
      </div>
    </task-text>
  </task>
</section>
