@import 'src/assets/scss/utils';
.academy-banner {
  background-color: var(--color-primary-500);
  min-height: 300px;
}

.hover-img {
  width: 175px;
  position: relative;
  right: -16px;
  top: 78px;
}

.banner-text {
  justify-content: center;
  text-align: center;

  & a {
    text-decoration: none;
  }
}

.rocket-img {
  position: relative;
  width: 280px;
}

.banner-btn {
  cursor: pointer;
  padding: 10px 10px 10px 0;
}

@include media-breakpoint-up('xl') {
  .banner-text {
    right: 0px;
    position: relative;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1.5rem;
  }
}

.mt-5 {
  margin-bottom: 2rem !important;
}
