.academy-banner {
  background-color: #003083;
}

.hover-img {
  width: 165px;
  position: relative;
  right: -16px;
  top: 22px;
}

.banner-text {
  position: relative;
  right: 100px;
}

.rocket-img {
  position: relative;
  right: 13px;
  top: -30px;
  width: 260px;
}

.banner-btn {
  cursor: pointer;
}
