<div class="container-fluid academy-banner">
  <div class="container d-flex justify-content-between">
    <img src="../../../../../assets/images/banner-images/spaceboard.svg" alt="" class="hover-img" />
    <div class="banner-text align-self-center">
      <h2 class="color-white">Worfauf wartest Du?</h2>
      <p class="color-white fs-5 fw-light">Starte jetzt in unserer Akademie durch</p>
      <p class="color-white mt-5 fs-5 banner-btn p-1">zur Akademie ❯</p>
    </div>

    <img src="../../../../../assets/images/banner-images/singlerocket.svg" alt="" class="rocket-img" />
  </div>
</div>
