@import 'src/assets/scss/utils';
.academy-banner {
  background-color: var(--color-primary-500);
}

.hover-img {
  width: 175px;
  position: relative;
  right: -16px;
  top: 32px;
}

.banner-text {
  & a {
    text-decoration: none;
  }
}

.rocket-img {
  position: relative;
  top: -30px;
  width: 280px;
}

.banner-btn {
  cursor: pointer;
  padding: 10px 10px 10px 0;
}

@include media-breakpoint-up('xl') {
  .banner-text {
    right: 100px;
    position: relative;
  }
}
