::ng-deep.task-text {
  .exerciselist {
    cursor: pointer;
    margin-left: 1.5em;
    display: list-item;
    list-style-type: decimal;
    list-style-position: outside;
    font-size: 1.2rem;
    line-height: 2em;
  }
  .exercise {
     margin-bottom: 1em;
    font-size: 1.4rem;
    line-height: 1.5em;
  }

  .exercise-done {
    text-decoration: line-through;
    color: var(--color-success-500);

    .link {
      color: var(--color-success-500);
    }
  }
}
