::ng-deep.task-text {
  .exerciselist {
    cursor: pointer;
    margin-left: 1.5em;
    display: list-item;
    list-style-type: decimal;
    list-style-position: outside;
    font-size: 1.1rem;
    line-height: 2rem;
  }
  .exercise {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
  }

  .exercise-done {
    text-decoration: line-through;
    color: var(--color-success-500);

    .link {
      color: var(--color-success-500);
    }
  }

  .info {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .infolist {
    margin-left: 1.5em;
    display: list-item;
    list-style-type: decimal;
    list-style-position: outside;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
