@import 'src/assets/scss/utils';
.title {
  font-weight: bold;
  font-size: 24px;
}

.text {
  font-size: 18px;
}

i {
  padding-right: 8px;
}

@include media-breakpoint-up(xl) {
  .p-lg-10 {
    padding: 100px;
  }
}
