<section
  [pageTitle]="'Design'"
  [seoTitle]="'ltakademie - Design'"
  [seoDescription]="'Lerne Design mithilfe der ltakademie.'"
  [seoKeywords]="'design, academy, online, learning, platform, akademie'"
>
  <task
    id="task-1"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/flat-design.png',
      alt: 'Screenshot der Microsoft Webseite'
    }"
  >
    <div title>Flat Design</div>
    <task-text>
      <div info>
        Die Idee des Flat-Design ist eine der wenigen Designerrungenschaften von Microsoft und wurde erstmalig mit dem
        Erscheinen von Windows 8 für breite Massen eingesetzt. Es zeichnet sich durch folgende Eigenschaften aus:
      </div>
      <div infolist>Graphisch minimalistischer Gestaltungsstil</div>
      <div infolist>Fokus auf die wesentlichen Inhalte</div>
      <div infolist>Offensive Farbgestaltung</div>
      <div infolist>Keine Effekte</div>
      <div infolist>Einfache, zweckerfüllende Elemente</div>
      <div infolist>Schwerpunkt auf Typographie und Farbe</div>
    </task-text>
  </task>

  <task
    id="task-2"
    section="design"
    [image]="{
      url: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Material_Design.svg/250px-Material_Design.svg.png',
      alt: 'Beispiel von Material Design in Form eines App Designs'
    }"
  >
    <div title>Material Design</div>
    <task-text>
      <div info>
        Material Design ist eine Designsprache, die von Google 2014 entwickelt wurde und dessen Ziel es ist, die
        klassischen Prinzipien von gutem Design mit der Innovation von Technologie und Wissenschaft zu verknüpfen. Es
        zeichnet sich durch folgende Aspekte aus:
      </div>
      <div infolist>Bezug auf Material</div>
      <div infolist>Fett, graphisch, intuitiv</div>
      <div infolist>Bewegung mit Animationen</div>
      <div infolist>Technologische Flexibilität</div>
      <div infolist>Plattformübergreifender Ansatz</div>
      <div infolist>Tiefeneffekte durch Schatten oder Licht</div>
    </task-text>
  </task>

  <task
    id="task-3"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/minimalistic-design.png',
      alt: 'Screenshot einer Website mit minimalistischem Design',
      reference: 'https://philiphousenyc.com/'
    }"
  >
    <div title>Minimalistisches Design</div>
    <task-text>
      <div info>
        Minimalismus beschreibt auch im Webdesign die Kunst des Weniger, die Kunst des Bewussten. Minimalistisches
        Webdesign ist beliebt und (nach wie vor) modern. Allem voran bedeutet Minimalismus im Webdesign den Verzicht auf
        unnötige Elemente. Es zeichnet sich insbesondere durch diese Eigenschaften aus:
      </div>
      <div infolist>wenig oder keine Farbverläufe (Gradienten), Schatten oder Texturen</div>
      <div infolist>geringes Maß an Detailliertheit</div>
      <div infolist>versteckte bzw. verdeckte Navigation</div>
      <div infolist>ausreichend Weißraum</div>
      <div infolist>Reduktion der Farben. (Faustregel: Nicht mehr als 3 Gleichzeitig)</div>
      <div infolist>keine unnötigen Buttons oder Bedienelemente</div>
      <div infolist>zum Teil riesige Überschriften</div>
    </task-text>
  </task>
  <task
    id="task-4"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/featured-image.png',
      alt: 'Screenshot einer Website mit einem Featured Image'
    }"
  >
    <div title>Featured Image</div>
    <task-text>
      <div info>
        Ein Featured Image repräsentiert den Inhalt, die Stimmung oder das Thema eines Beitrags oder einer Seite. Es
        gibt verschiedene Art und Weisen Featured Images zu gestalten oder textuell zu untermauern. Einige Beispiele
        sind <a taskLink href="https://applecartlane.com/blog-featured-image/">hier</a> aufgeführt.
      </div>
    </task-text>
  </task>
  <task
    id="task-5"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/gitter.png',
      alt: 'Screenshot einer Website mit einem Gitter',
      reference: 'https://ginaandryan.com/'
    }"
  >
    <div title>Gitter</div>
    <task-text>
      <div info>
        Das Gitter-Layout erweitert das Featured Image, indem mehrere Blöcke verschiedener Größen unter dem Featured
        Image Platz für diverse Inhalte bieten. Dabei können diese Felder zum Beispiel Produktbilder, Textfelder,
        Blogartikel, etc beinhalten.
      </div>
    </task-text>
  </task>
  <task
    id="task-6"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/power-gitter.png',
      alt: 'Screenshot einer Website mit einem Power Gitter'
    }"
  >
    <div title>Power Gitter</div>
    <task-text>
      <div info>
        Das Power-Gitter-Layout ist ein erweitertes Gitter-Layout, in dem noch mehr verschiedene Kacheln kombiniert
        werden und manche Felder frei bleiben. Dabei kann der Inhalt in Kacheln mit verschiedenen Größen, Formen, etc
        eingebettet werden.
      </div>
      <div info>
        <b>Symmetrie</b>
        <div infolist>Struktur</div>
        <div infolist>Ordnung</div>
        <div infolist>Vollkommenheit</div>
        <div infolist>Sterilität</div>
        <div infolist>Langeweile</div>
      </div>
      <div info>
        <b>Asymmetrie</b>
        <div infolist>Chaos</div>
        <div infolist>Kreativität</div>
        <div infolist>Leben</div>
        <div infolist>Unordnung</div>
        <div infolist>Spannung</div>
      </div>
    </task-text>
  </task>
  <task
    id="task-7"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/farbschemas.png',
      alt: 'Gegenüberstellung von Farbschemas'
    }"
  >
    <div title>Farbschemas</div>
    <task-text>
      <div info>
        In der Abbildung Links siehst du die grundlegende Unterscheidung von Farbschemata. In der Link Sammlung findest
        du Tools, um ein Farbschema zu generieren oder dich inspirieren zu lassen. Wenn du mehr über Farben und wie sie
        auf Menschen wirken lernen möchtest, kannst du
        <a taskLink href="https://visme.co/blog/website-color-schemes/">hier</a>
        vorbeischauen.
      </div>
    </task-text>
  </task>
  <task id="task-8" section="design">
    <div title>Quiz</div>
    <div description>
      Du hast die Grundlagen im Bereich Design kennengelernt. Versuche nun die einzelnen Webseiten den verschiedenen
      Design-Kategorien zuzuordnen:
    </div>
    <task-text>
      <div exerciselist><a href="https://mercertavern.com/" taskLink>Mercertavern</a></div>
      <div exerciselist><a href="https://www.rumchata.com/" taskLink>Rumchata</a></div>
      <div exerciselist><a href="https://www.whiterhino.com/" taskLink>White Rhino</a></div>
      <div exerciselist><a href="https://www.dropbox.com/business/" taskLink>Dropbox Business</a></div>
      <div exerciselist><a href="https://www.fhoke.com/" taskLink>Fhoke</a></div>
      <div exerciselist><a href="https://studio-ly.co.uk/" taskLink>Studio-ly</a></div>
    </task-text>
  </task>
</section>
