<section
  [pageTitle]="'Design'"
  [seoTitle]="'lenne.Learning - Design'"
  [seoDescription]="'Lerne Design mithilfe von lenne.Learning.'"
  [seoKeywords]="'design, academy, online, learning, platform, akademie'"
>
  <task id="task-1" section="design">
    <div title>Inhalt</div>

    <task-text>
      <div info>
        In diesem Abschnitt stellen wir Dir einige grundlgende Elemente für den Bereich Design vor, die Du in Deinen
        eigenen Projekten berücksichtigen kannst. Ein ansprechendes und funktionales Design wirkt sich immer positiv auf
        das Urteil Deiner Kund:innen und Nutzer:innen aus.
      </div>
    </task-text>
  </task>

  <task id="task-2" section="design">
    <div title>Schriftart auswählen</div>
    <task-text>
      <div info>
        Tipps & Tricks bei der der Entscheidung für eine Schriftart: <br />
        <br />
        Bei der Menge an unterschiedlichen Schriftarten fällt es oft nicht leicht, „die richtige Schrift “ auszuwählen
        und Du verbringst viel Zeit mit dem Durchstöbern von Websites auf der Suche nach der passenden Schriftart.
        <br />
        <br />
        Wir verraten Dir in diesem Abschnitt ein paar Tipps und Tricks, die Dir helfen können, schneller ans Ziel zu
        gelangen und die perfekte Schriftart für Dein nächstes Design-Projekt zu finden. <br />
        <br />
        Bevor Du mit der Suche beginnst, solltest Du Dir zunächst über ein paar grundlegende Aspekte Gedanken machen:
        <div infolist>
          Welche Botschaft / Wirkung möchtest Du mit der Schrift erzielen? Die Typografie ist ein starkes Werkzeug in
          der Gestaltung und sollte wohl überlegt sein. Die Auswahl einer Schriftart beeinflusst die Wirkung und
          Wahrnehmung der Inhalte enorm, so kann derselbe Inhalt mit zwei unterschiedlich gewählten Schriften z. B. ein
          Lächeln oder einen mißtrauischen Blick über die Schulter zur Folge haben:
          <img
            src="/assets/images/academy-images/fonts-matter.jpg"
            title="Fonts matter"
            alt="Zwei Fonts im Vergleich"
            width="500"
            height="500"
          />
          <a href="https://i.pinimg.com/originals/b2/4a/f9/b24af93a17f1fdfba5819f32dced8f5b.jpg" taskLink
            >[pinterest.com]</a
          >
        </div>
        <div infolist>
          Du solltest dir Gedanken über die Zielgruppe und das Thema Deines Designs machen. Soll es modern, klassisch,
          minimalistisch, elegant oder ... wirken?
        </div>
        <div infolist>
          Bei der Mischung von Schriften solltest Du darauf achten, dass sie sich optisch klar voneinander abgrenzen.
          Das kannst Du erreichen, indem du entweder zwei unterschiedliche Schriftarten miteinander kombinierst, die
          klare Unterschiede zueinander aufweisen oder durch das Mischen von Schriftschnitten innerhalb einer
          Schriftart.
        </div>
      </div>

      <div info>
        Auf diesen Seiten kannst du dir Schriftarten herunterladen:
        <div infolist><a href="https://fonts.google.com/" taskLink>Google Fonts</a></div>
        <div infolist><a href="https://www.dafont.com/de/" taskLink>DaFont</a></div>
        <div infolist><a href="https://www.fontsquirrel.com/" taskLink>Font Squirrel</a></div>
      </div>
    </task-text>
  </task>

  <task
    id="task-3"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/flat_design.png',
      alt: 'Screenshot der Microsoft Webseite',
      reference: 'https://www.microsoft.com/de-de/store/apps/windows'
    }"
  >
    <div title>Flat Design</div>
    <task-text>
      <div info>
        Die Idee des Flat-Design ist eine der wenigen Designerrungenschaften von Microsoft und wurde erstmalig mit dem
        Erscheinen von Windows 8 für die breite Masse eingesetzt. Es zeichnet sich durch folgende Eigenschaften aus:
      </div>
      <div infolist>Graphisch minimalistischer Gestaltungsstil</div>
      <div infolist>Fokus auf die wesentlichen Inhalte</div>
      <div infolist>Offensive Farbgestaltung</div>
      <div infolist>Keine Effekte</div>
      <div infolist>Einfache, zweckerfüllende Elemente</div>
      <div infolist>Schwerpunkt auf Typographie und Farbe</div>
    </task-text>
  </task>

  <task
    id="task-4"
    section="design"
    [image]="{
      url: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Material_Design.svg/250px-Material_Design.svg.png',
      alt: 'Beispiel von Material Design in Form eines App Designs'
    }"
  >
    <div title>Material Design</div>
    <task-text>
      <div info>
        Material Design ist eine Designsprache, die von Google 2014 entwickelt wurde und dessen Ziel es ist, die
        klassischen Prinzipien von gutem Design mit der Innovation von Technologie und Wissenschaft zu verknüpfen. Es
        zeichnet sich durch folgende Aspekte aus:
      </div>
      <div infolist>Bezug auf Material</div>
      <div infolist>Fett, graphisch, intuitiv</div>
      <div infolist>Bewegung mit Animationen</div>
      <div infolist>Technologische Flexibilität</div>
      <div infolist>Plattformübergreifender Ansatz</div>
      <div infolist>Tiefeneffekte durch Schatten oder Licht</div>
    </task-text>
  </task>

  <task
    id="task-5"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/minimalistic-design.png',
      alt: 'Screenshot einer Website mit minimalistischem Design',
      reference: 'https://philiphousenyc.com/'
    }"
  >
    <div title>Minimalistisches Design</div>
    <task-text>
      <div info>
        Minimalismus beschreibt auch im Webdesign die Kunst des Weniger, die Kunst des Bewussten. Minimalistisches
        Webdesign ist beliebt und (nach wie vor) modern. Allem voran bedeutet Minimalismus im Webdesign den Verzicht auf
        unnötige Elemente. Es zeichnet sich insbesondere durch diese Eigenschaften aus:

        <div infolist>wenig oder keine Farbverläufe (Gradienten), Schatten oder Texturen,</div>
        <div infolist>geringes Maß an Detailliertheit,</div>
        <div infolist>versteckte bzw. verdeckte Navigation,</div>
        <div infolist>ausreichend Weißraum,</div>
        <div infolist>Reduktion der Farben (Faustregel: Nicht mehr als drei gleichzeitig),</div>
        <div infolist>keine unnötigen Buttons oder Bedienelemente,</div>
        <div infolist>zum Teil riesige Überschriften.</div>
      </div>
    </task-text>
  </task>

  <task
    id="task-6"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/featured-image.png',
      alt: 'Screenshot einer Website mit einem Featured Image',
      reference: 'https://www.colingrist.com/'
    }"
  >
    <div title>Featured Image</div>
    <task-text>
      <div info>
        Ein Featured Image repräsentiert den Inhalt, die Stimmung oder das Thema eines Beitrags oder einer Seite. Es
        gibt verschiedene Möglichkeiten Featured Images zu gestalten oder textuell zu untermauern. Einige Beispiele sind
        <a taskLink href="https://applecartlane.com/blog-featured-image/">hier</a> aufgeführt.
      </div>
    </task-text>
  </task>

  <task
    id="task-7"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/gitter.png',
      alt: 'Screenshot einer Website mit einem Gitter',
      reference: 'https://ginaandryan.com/'
    }"
  >
    <div title>Gitter</div>
    <task-text>
      <div info>
        Das Gitter-Layout erweitert das Featured Image, indem mehrere Blöcke verschiedener Größen unter dem Featured
        Image Platz für diverse Inhalte bieten. Dabei können diese Felder zum Beispiel Produktbilder, Textfelder,
        Blogartikel, etc. beinhalten.
      </div>
    </task-text>
  </task>

  <task
    id="task-8"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/power-gitter.png',
      alt: 'Screenshot einer Website mit einem Power-Gitter',
      reference: 'https://www.cnet.com/news/'
    }"
  >
    <div title>Power-Gitter</div>
    <task-text>
      <div info>
        Das Power-Gitter-Layout ist ein erweitertes Gitter-Layout, in dem noch mehr verschiedene Kacheln kombiniert
        werden und manche Felder frei bleiben. Dabei kann der Inhalt in Kacheln mit verschiedenen Größen, Formen, etc.
        eingebettet werden.
      </div>
      <div info>
        <b>Symmetrie</b>
        <div infolist>Struktur</div>
        <div infolist>Ordnung</div>
        <div infolist>Vollkommenheit</div>
        <div infolist>Sterilität</div>
        <div infolist>Langeweile</div>
      </div>
      <div info>
        <b>Asymmetrie</b>
        <div infolist>Chaos</div>
        <div infolist>Kreativität</div>
        <div infolist>Leben</div>
        <div infolist>Unordnung</div>
        <div infolist>Spannung</div>
      </div>
    </task-text>
  </task>

  <task
    id="task-9"
    section="design"
    [image]="{
      url: '../../assets/images/academy-images/farbschemata.png',
      alt: 'Gegenüberstellung von Farbschemata'
    }"
  >
    <div title>Farbschemata</div>
    <task-text>
      <div info>
        In der Abbildung rechts siehst Du die grundlegende Unterscheidung von Farbschemata. In der Linksammlung findest
        Du Tools, um ein Farbschema zu generieren oder Dich inspirieren zu lassen. Wenn Du mehr über Farben und wie sie
        auf Menschen wirken lernen möchtest, kannst Du
        <a taskLink href="https://visme.co/blog/website-color-schemes/">hier</a>
        vorbeischauen.
      </div>
    </task-text>
  </task>

  <task id="task-10" section="design">
    <div title>Quiz</div>
    <div description>
      Du hast einen Einblick in den Bereich Design bekommen. Versuche nun die einzelnen Websites den verschiedenen
      Design-Kategorien zuzuordnen:
    </div>
    <task-text>
      <div exerciselist><a href="https://mercertavern.com/" taskLink>Mercertavern</a></div>
      <div exerciselist><a href="https://www.rumchata.com/" taskLink>Rumchata</a></div>
      <div exerciselist><a href="https://www.whiterhino.com/" taskLink>White Rhino</a></div>
      <div exerciselist><a href="https://www.dropbox.com/business/" taskLink>Dropbox Business</a></div>
      <div exerciselist><a href="https://www.fhoke.com/" taskLink>Fhoke</a></div>
      <div exerciselist><a href="https://studio-ly.co.uk/" taskLink>Studio-ly</a></div>
    </task-text>
  </task>
</section>
