<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 d-flex align-items-center">
      <div>
        <h3 class="title">Unsere Ziele</h3>
        <p class="text">
          Unabhängig von ihrem Vorwissen möchten wir mit lenne.Learning potenzielle Entwickler:innen und Nachwuchskräfte
          für den Bereich Softwareentwicklung begeistern und sie befähigen.
          <br /><br />
          Auf diese Weise wollen wir einen Beitrag zur langfristigen Fachkräftesicherung leisten. Unternehmen
          unterstützen wir so dabei, auch auf Dauer wettbewerbsfähig zu bleiben und sich weiterentwickeln zu können.Wir
          zeigen ihnen neue Möglichkeiten auf, wie sie neben dem Alltagsgeschäft ihre Mitarbeitenden bequem, effizient
          und angemessen onboarden, ausbilden und weiterbilden zu können.
          <br />
          <br />
          Die Teilnehmenden erhalten einen ganzheitlichen Einblick in die verschiedenen Phasen und Anforderungen eines
          IT-Projektes und wenden das Gelernte auch in einem konkreten praktischen Kontext an.
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-flex d-flex align-items-center">
      <img loading="lazy" alt="Bild von Menschen auf Raketen." [src]="imageUrl" />
    </div>
  </div>
</div>
