<section
  [pageTitle]="'TypeScript'"
  [seoTitle]="'lenne.Learning - TypeScript'"
  [seoDescription]="'Lerne TypeScript mithilfe von lenne.Learning.'"
  [seoKeywords]="'typescript, academy, online, learning, platform'"
>
  <task id="task-1" section="typescript">
    <div title>Video</div>
    <div description>Schaue Dir diese Videoabschnitte an und komme danach wieder hier her.</div>

    <task-video
      [link]="'https://www.udemy.com/course/understanding-typescript/learn/lecture/17751414#overview'"
      [videoPreview]="'../../../../../assets/images/udemy/ts-1.png'"
    >
      <div videolist>Abschnitt 1: Getting Started</div>
      <div videolist>Abschnitt 2: TypeScript Basics & Basic Types</div>
      <div videolist>Abschnitt 3: The Typescript Compiler</div>
      <div videolist>Abschnitt 4: Next-generation JavaScript & TypeScript</div>
      <div videolist>Abschnitt 5: Classes & Interfaces</div>
      <div videolist>Abschnitt 6: Advanced Types</div>
      <div videolist>Abschnitt 7: Generics</div>
      <div videolist>Abschnitt 8: Decorators</div>
      <div videolist>Abschnitt 9: Practice Time!</div>
    </task-video>
  </task>

  <task id="task-2" section="typescript">
    <div title>Fragen</div>
    <div description>Beantworte die Fragen so gut wie möglich und am besten ohne Hilfe.</div>

    <task-questions>
      <div questionlist>Worin unterscheidet sich TypeScript zu JavaScript? Was sind die Vor- und Nachteile?</div>
      <div questionlist>Was bedeutet der <code>any</code> Type? Wofür kann er verwendet werden?</div>
      <div questionlist>Lassen sich TypeScript Dateien direkt im Browser ausführen? Was muss bedacht werden?</div>
    </task-questions>
  </task>

  <task id="task-3" hint="Du kannst den Code auch z. B. in VSCode einfügen und ausprobieren." section="typescript">
    <div title>Code</div>
    <div description>Erweitere die folgende JavaScript Funktion mit der Typisierung von TypeScript:</div>

    <task-code [url]="'/assets/snippets/ts-task-1.js'"></task-code>
  </task>

  <task id="task-4" section="typescript">
    <div title>Coding Games</div>

    <task-text>
      <div exercise>
        Vertiefe Deine Kenntnisse in TypeScript mit <a href="https://www.codingame.com/start" taskLink>CodinGame</a>.
        Hier kannst Du auf spielerische Art und Weise Deine Coding-Skills verbessern und neue Dinge dazulernen.
      </div>
      <div exercise>
        Du kannst Dich mit anderen Lernenden in Echtzeit messen. Wer am schnellsten die richtige Lösung findet, gewinnt.
        Oder Du programmierst in Ruhe und ohne Zeitdruck einen Algorithmus oder eine künstliche Intelligenz.
      </div>
      <div exercise>
        Über diese Seite besteht auch die Möglichkeit, andere Programmiersprachen zu lernen. Wähle in unserem Fall aber
        TypeScript aus.
      </div>
    </task-text>
  </task>

  <task id="task-5" section="typescript">
    <div title>Vertiefung</div>
    <div description>
      Schaue Dir diese Videoabschnitte an, wenn Du Dein Wissen über Typescript noch weiter vertiefen möchtest.
    </div>

    <task-video
      [link]="'https://www.udemy.com/course/understanding-typescript/learn/lecture/16935908#overview'"
      [videoPreview]="'../../../../../assets/images/udemy/ts-1.png'"
    >
      <div videolist>Abschnitt 10: Modules & Namespaces</div>
      <div videolist>Abschnitt 11: Using Webpack with TypeScript</div>
      <div videolist>Abschnitt 12: 3rd Party Libraries & TypeScript</div>
      <div videolist>Abschnitt 13: Time to Practice</div>
      <div videolist>Abschnitt 14: React.js & TypeScript</div>
      <div videolist>Abschnitt 15: Node.js + Express & TypeScript</div>
      <div videolist>Abschnitt 16: Course Roundup</div>
    </task-video>
  </task>

  <task id="task-6" section="typescript">
    <div title>Zusammenfassung</div>
    <div description>
      Du bist nun am Ende dieser Sektion angekommen. Hier noch eine kleine Zusammenfassung von all dem, was Du in der
      letzten Zeit gelernt hast.
    </div>
    <task-video [youtubelink]="'https://www.youtube.com/embed/zQnBQ4tB3ZA'"> </task-video>
  </task>
</section>
