$primary: #007bff;
$secondary: #fff;
$white: #fff;
$gray: #6f6f6f;
// $orange: #fab85a; this value for the color is used in the figma files for the navbar but the value below is used in the contact form. Questionmark?
$orange: #f8a034;
