::ng-deep.task-video {
  img {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
    border-radius: 5px;
  }

  a {
    text-decoration: none;
  }

  .videolist {
    margin-left: 30px;
    display: list-item;
    list-style-type: square;
    list-style-position: outside;
    font-size: 1.1rem;
    line-height: 2em;
  }

  .thumbnail {
    position: relative;
  }

  .bi-play-circle {
    top: 50%;
    left: 50%;
    position: absolute;
    color: black;
    font-size: 75px;
    transform: translate(-50%, -50%);
    opacity: 0.4;

    &:hover {
      opacity: 0.7;
    }
  }
}
