<div class="row mt-4 task-video">
  <div class="col-lg-6 mt-5">
    <ng-content select="[videolist]"></ng-content>
  </div>
  <div class="col-lg-6 d-flex justify-content-end mt-5">
    <a [href]="link" target="_blank" *ngIf="link">
      <div class="thumbnail d-none d-lg-flex" *ngIf="videoPreview">
        <i class="bi bi-play-circle"></i>
        <img loading="lazy" [src]="videoPreview" alt="Illustration eines Videos" />
      </div>
      <button class="mt-4" nbButton size="giant" [ngClass]="{ 'd-lg-flex': !videoPreview, 'd-lg-none': videoPreview }">
        Zum Kurs
      </button>
    </a>

    <iframe
      *ngIf="youtubelink"
      width="560"
      height="315"
      [src]="youtubelink | video"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
