<div class="row mt-4 task-video">
  <div class="col-lg-6 mt-5">
    <ng-content select="[videolist]"></ng-content>
  </div>
  <div class="col-lg-6 d-flex justify-content-center mt-5">
    <a [href]="link" target="_blank">
      <img
        loading="lazy"
        src="{{ videoPreview ? videoPreview : '../../../../../../../assets/images/udemy/video-player.svg' }}"
        alt="Illustration eines Videos"
        class="d-none d-lg-flex"
      />
      <button class="d-lg-none mt-4" nbButton size="giant">Zum Kurs</button>
    </a>

    <iframe
      *ngIf="youtubelink"
      width="560"
      height="315"
      [src]="youtubelink | video"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
