<div class="container-fluid bg-primary-500 justify-content-center">
  <div class="container d-flex justify-content-around justify-content-md-between">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img class="w-100" loading="lazy" alt="Bild von Menschen auf Raketen." [src]="imageUrl" />
      </div>
      <div class="col-12 col-lg-6">
        <div>
          <h3 class="title">Mach selbst mit!</h3>
          <p class="text">
            Die Akademie ist übrigens ein Open Source Projekt und wir freuen uns natürlich über alle, die mal
            vorbeischauen oder sich beteiligen möchten. Das Repository findest du
            <a class="repoLink" href="https://github.com/lenneTech/academy" target="blank">hier.</a> <br /><br />
            Alles was Du brauchst, um Teil dieses Open Source Projektes zu werden, lernst du bei lenne.Learning. Wir
            freuen uns auf Deine Ideen, Optimierungsvorschläge und Deinen eigenen Quellcode. <br /><br />
            Wie immer gilt, lass Dich gerne von vorhandenen Quellen inspirieren, aber kopiere nichts. Auch wenn viele
            Dinge im Internet frei zugänglich sind, unterliegen sie dennoch dem Urheberrecht und dürfen nicht einfach
            auf anderen Seiten übernommen werden. Dies gilt für Bilder, Texte, Videos und andere urheberrechtlich
            geschützte Inhalte. Es gibt einige Seiten, die Inhalte zur freien Verwendung zur Verfügung stellen (z. B.
            Unsplash). Bitte prüfe, bevor du Inhalte einreichst die Lizenzbedingungen. Wenn du dir unsicher bist, sprich
            gerne jemanden aus unserem Team an.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
