<section
  [pageTitle]="'Arbeitsmethoden'"
  [seoTitle]="'lenne.Learning - Arbeitsmethoden'"
  [seoDescription]="'Lerne Arbeitsmethoden mithilfe von lenne.Learning.'"
  [seoKeywords]="'arbeitsmethoden, academy, online, learning, platform'"
>
  <task id="task-1" section="arbeitsmethoden">
    <div title>Lean Startup</div>
    <task-text>
      <div info>
        Lean Startup ist eine Methode, um Geschäftsmodelle aber auch Produkte schnell und ressourcenfreundlich
        aufzubauen. Dieses Methode geht zurück auf Eric Ries und ist nicht nur auf die Anwendung in der IT-Branche oder
        auf Neugründungen beschränkt, sonder nahezu für jede Produkt- oder Geschäftsidee geeignet. Im Kern ist es eine
        interative Methode, um ein minimal funktionsfähiges Produkt, ein sogenanntes MVP (Minimum Viable Product) zu
        realisieren. Der sich wiederholende Zyklus bestehend bei dieser Methode aus den Schritten "Bauen - Messen -
        Lernen". Ein MVP wird in kurzer Zeit mit möglichst wenigen Ressourcen erstellt (Bauen) und dann unter nahezu
        realen Bedingungen von Nutzer:innen getestet (Messen). Das im Rahmen der Tests generierte Feedback wird als
        Grundlage für den nächsten Entwicklungszyklus genutzt (Lernen). Dieser Zyklus wiederholt sich, bis aus einem MVP
        ein finales Produkt bzw. ein finales Geschäftsmodell entstanden ist.
      </div>
    </task-text>
  </task>

  <task id="task-2" section="arbeitsmethoden">
    <div sidebarTitle>Video</div>
    <div title>The Lean Startup - Eric Ries, Talks at Google</div>
    <div description>
      Falls Du mehr darüber erfahren möchtest, hier ein ausführliches Video dazu von Eric Ries selbst bei einem Talks at
      Google Event. Über die Optionen Untertitel und Automatisch Übersetzen ist eine deutsche Übersetzung der Untertitel
      verfügbar.
    </div>
    <task-video [youtubelink]="'https://www.youtube.com/embed/fEvKo90qBns?list=RDCMUCbmNph6atAoGfqLoCL_duAg'">
    </task-video>
  </task>

  <task id="task-3" section="arbeitsmethoden">
    <div title>Design Thinking</div>
    <task-text>
      <div info>
        Design Thinking ist eine inzwischen weitverbreitete Methode zur kreativen Lösung komplexer Probleme z. B. in den
        Bereichen der Produktentwicklung oder Prozessoptimierung, auch sie gehört zu den Methoden des agilen Arbeitens.
        Entwickelt wurde sie von Larry Leifer, David Kelley und Terry Winograd an der Stanford University.
        <br /><br />
        Im Grunde ist Design Thinking aber auch eine Geisteshaltung, d. h. ein Mindset. Im Zentrum stehen grundsätzlich
        die Kund:innen bzw. die Nutzer:inne und ihre tatsächlichen Bedürfnisse, die im Rahmen eines iterativen, d. h.
        sich wiederholendem Prozess ermittelt und in die Entwicklung einbezogen werden. Das Ziel dieses Vorgehens ist
        es, möglichst viele unterschiedliche Perspektiven und Erfahrungen der Zielgruppen einzubeziehen. Mittlerweile
        gibt es eine große Anzahl an Handbüchern und Ratgebern zu diesem Thema. Wir beziehen uns hier auf die
        Vorgehensweise von Lewrick, Leifer und Link.
        <br /><br />
        Ein Design Thinking Prozess besteht aus sechs Phase und der zusätzlichen Phasen der Reflexion am Ende des
        jeweiligen Prozesses: Verstehen, Beobachten, Standpunkt definieren, Ideen finden, Prototypen entwickeln, Testen.
        Je nachdem, welche Absicht mit einem Design Thinking Prozess verfolgt wird, welche Phasen bearbeitet werden
        sollen und wie groß das Team ist, kann ein Design Thinking Zyklus zwischen einem Tag und mehreren Monaten dauern
        und verschiedenste (Kreativ)Methoden umfassen.
        <br /><br />
        Die sechs Phasen lassen sich in einen Problemraum (verstehen, beobachten, Standpunkt definieren) und einen
        Lösungsraum (Ideen finden, Prototypen entwickeln, Testen) unterteilen. Im Problemraum geht es darum, die
        jeweiligen Rahmenbedingungen und die Bedürfnisse der Nutzer:innen zu verstehen, zu beobachten und zu einem
        Standpunkt zu verdichten, der das zu lösende Problem in einem Satz zusammenfasst. Im Lösungsraum geht es darum,
        Ideen und Prototypen für eine Lösung zu entwickeln, sie zu testen und das Feedback in die Entwicklung einfließen
        zu lassen. Dabei ist es nicht selten, dass es von der Phase des Testens wieder zurück in die Phasen der
        Standpunktdefinition oder des Verstehens geht. Auch in diesem iterativen Prozess nährst Du Dich auf diese Weise
        einer optimalen Lösung immer weiter an.
        <br /><br />
        Weitere Informationen und Literatur zum Thema findest Du u. a.
        <a href="https://www.design-thinking-playbook.com/playbook" taskLink
          >auf der Website von Lewrick, Leifer und Link</a
        >.
      </div>
    </task-text>
  </task>
</section>
