<section
  [pageTitle]="'Arbeitsmethoden'"
  [seoTitle]="'ltacademy - Arbeitsmethoden'"
  [seoDescription]="'Lerne Arbeitsmethoden mithilfe der ltacademy.'"
  [seoKeywords]="'arbeitsmethoden, academy, online, learning, platform'"
>
  <task id="task-1" section="arbeitsmethoden">
    <div title>Lean Startup</div>
    <div description>Von Unternehmensgründung bis zur Ideenumsetzung</div>
    <task-text>
      <div info>
        Lean Startup ist eine interaktive Methode um Produkte schnell und ressourcenfreundlich aufzubauen. Im Kern
        besteht es aus einem MVP, sprich einem Minimum Viable Product und einem Zyklus bestehend aus "Bauen - Messen -
        Lernen". Es wird ein MVP verwendet und mit der minimal funktionsfähigen Iteration eines Produktes Feedback
        sammeln zu können. Im Kern steht eine sich immer wiederholende Feedbackschleife. <br />
        <br />
        Materialisieren der Idee (Bauen) -> Feedback und Daten werden gesammelt (Messen) -> Auswertung (Lernen)
        <br /><br />
        Auf der Basis der Learnings werden anschließend die Annahmen angepasst und die Schleife wiederholt sich. Diese
        Durchlaufzeiten möchte man minimieren, sodass möglichst wenig Zeit und Energie mit falschen Annahmen verbracht
        wird.
      </div>
    </task-text>
  </task>

  <task id="task-2" section="arbeitsmethoden">
    <div title>Design Thinking</div>
    <div description></div>
    <task-text>
      <div info>
        Design Thinking ist eine kundenzentrierte und interaktive Methode für die Lösung von komplexem Problemen und die
        Entwicklung neuer Ideen. Der Prozess ist unterteilt in sechs Phasen und besonders der Anfang und das Ende haben
        bestimmte Charakteristika. Grundlegend soll zum Anfang eine „Beginners Mind“ als Ausgangshaltung angenommen
        werden, während das Ende erst dann erreicht ist, wenn eine Idee materialisiert und konkret implementiert ist.
      </div>
    </task-text>
  </task>
  <task id="task-3" section="arbeitsmethoden">
    <div title>Die 6 Phasen</div>
    <task-text>
      <div exerciselist>
        Definieren der Ausgangssituation und sicherstellen eines gemeinsamen Verständnisses aller Beteiligter.
        Definieren des Problems. Die Phase endet mit einer Liste von Hypothesen, wie das Problem aus der Sicht des
        Kunden dargestellt ist
      </div>
      <div exerciselist>
        Man nimmt die Position eines Zuhörers und Beobachters ein. Der Kunde schildert, wie bisher das Problem gelöst
        wurde. Hier wird indiziert, wie dringlich das Problem tatsächlich ist. Anschließend werden die Annahmen und
        Gedanken aus Phase 1 mit dem Neugewonnenen abgeglichen. Um selektiver Wahrnehmung entgegen zu wirken, arbeitet
        man heraus welche Annahmen man streichen kann.
      </div>
      <div exerciselist>
        Synthese der ersten zwei Phasen. Hier wird der Standpunkt definiert. Auf der Basis der gesammelten Annahmen und
        Beobachtungen wird ein konzeptioneller Rahmen entwickelt, welcher den Lösungsraum absteckt und einen idealen
        Kunden definiert. Der ideale erste Kunde stellt einen Kreis von Nutzern dar, die besonders getroffen sind.
        Ebenso wird eine Persona entwickelt, die in den folgenden Phasen als Leitfigur für die Lösungen fungiert.
      </div>
      <div exerciselist>
        Das Entwickeln der Ideen im Team, wie man das Problem für die Persona lösen möchte.Ein weiterer dreischnittiger
        Prozess. Im ersten Schritt werden möglichst viele Ideen gesammelt, hier limitiert lediglich die Fantasie. Im
        zweiten Schritt werden die Bewertungen sortiert und diskutiert unter dem Hintergedanken von Wirtschaftlichkeit,
        Machbarkeit und Erwünschtheit. Im dritten Schritt wird sich auf eine Idee festgelegt. Wichtig ist hier, dass die
        Ideen nicht alle miteinander verschmelzen. Lösungen mit wenigen Aspekten sind leichter als Prototypen zu
        realisieren.
      </div>
      <div exerciselist>
        Umsetzen der festgelegten Idee in einen Prototypen. Hier nochmals: Konzentriere dich auf den Prototypen, auf den
        man sich festgelegt hat. Prototypen sind Wegwerfprodukte, investiere also nicht zu viel Zeit - letztlich ist ein
        Prototyp zweckmäßig und nie wirklich fertig.
      </div>
      <div exerciselist>
        Präsentation deines Prototypen. Hier möchtest du Feedback akquirieren, nicht deine Idee dem Kunden aufzwingen.
        Besonderes Augenmerk auf die Fragen des Kunden legen, da hier sehr gutes Feedback liegt. Formuliere vor der
        Präsentation Annahmen und Erwartungen an deinen Prototyp, welche für dich als Definition von Erfolg gelten.
      </div>
    </task-text>
  </task>

  <task id="task-4" section="arbeitsmethoden">
    <div title>Zusammenfassung</div>
    <task-text>
      <div exerciselist>Du startest mit einem Beginners Mind.</div>
      <div exerciselist>Erst das Problem verstehen, dann die Lösung entwickeln.</div>
      <div exerciselist>Der Kunde ist im Fokus.</div>
      <div exerciselist>Du bist bereit nicht tragfähige Ideen zu verwerfen.</div>
      <div exerciselist>
        Du bist erst dann fertig, wenn deine erfolgsversprechende Idee materialisiert und implementiert ist.
      </div>
    </task-text>
  </task>
</section>
