<div class="container">
  <div class="row d-flex justify-content-center">
    <img
      src="../../../../../assets/images/quote_illust_orange.svg"
      alt="Anführungszeichen umranded von einem orangenen Kreis"
      class="quote"
      loading="lazy"
    />
    <div class="col-12 col-md-8 d-flex flex-column align-items-center mb-5">
      <div class="review-text mb-1" [innerHTML]="review.text"></div>
      <div class="d-flex flex-column align-items-center p-2 mb-1 ms-auto">
        <div class="reviewer-text mt-3 ms-auto">
          {{ review.title }}
          <br />
          <b>{{ review.subtitle }}</b>
        </div>
      </div>
    </div>
  </div>
</div>
