<app-dialog [title]="title" [dialogMode]="DialogModeEnum.SINGLE" [cardWidth]="cardWidth" [cardHeight]="cardHeight">
  <ng-container helper-dialog>
    <div class="card-text">
      Für den Fall, dass Du nicht mehr weiterkommst oder Deine Ergebnisse vergleichen möchtest, bekommst Du hier die
      Lösung. Versuche aber erst mit den Hinweisen im Fragezeichen-Icon eine Lösung zu finden. Kommst du dann immer noch
      nicht weiter, komm hierher zurück.
    </div>
    <nb-accordion>
      <nb-accordion-item *ngIf="solutionLink">
        <nb-accordion-item-header> Lösung </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngIf="!requestSend">
            <p class="text-center card-text">
              Gib hier Deinen Namen und den Grund an, warum Du auf die Lösung zugreifen möchtest. Ein Grund wäre zum
              Beispiel, um diese mit Deiner Lösung zu vergleichen.
            </p>
            <form [formGroup]="solutionForm" (ngSubmit)="onSendRequest()" class="row mx-md-5">
              <div class="col mt-3 p-3">
                <div class="form-floating">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    formControlName="name"
                    placeholder="Dein Name"
                  /><label for="name" class="form-label">Dein Name</label>
                </div>
                <div class="form-floating mt-3">
                  <textarea
                    id="reason"
                    name="reason"
                    class="form-control"
                    formControlName="reason"
                    placeholder="Grund für die Anfrage"
                  ></textarea>
                  <label for="reason" class="form-label">Grund für die Anfrage</label>
                </div>
                <button nbButton [disabled]="!solutionForm.valid" ngbAutofocus status="primary" class="mt-3">
                  Anfragen
                </button>
              </div>
            </form>
          </div>
          <div *ngIf="requestSend" class="d-flex align-items-center flex-column">
            <p class="card-text">Hier ist die Musterlösung!</p>
            <a [href]="solutionLink" target="_blank">
              <academy-picture
                image="../../../../../assets/images/academy-images/solution.jpg"
                alt="Bild einer Glühbirne"
                imgClass="img-rounded"
              ></academy-picture
            ></a>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </ng-container>
</app-dialog>
