#reason {
  height: 115px;
}
.img-rounded {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 15px 11px;
    transition: 0.5s;
  }
}
