<section
  [pageTitle]="'HTML'"
  [seoTitle]="'ltakademie - HTML'"
  [seoDescription]="'Lerne HTML mithilfe der ltakademie.'"
  [seoKeywords]="'html, academy, online, learning, platform, akademie'"
>
  <task id="task-1" section="html">
    <div title>Video</div>
    <div description>Schaue dir diese Videoabschnitte an und komme danach wieder hier hin</div>

    <task-video
      [link]="'https://www.udemy.com/course/web-entwickler-masterclass/learn/lecture/12164112#overview'"
      [videoPreview]="'../../../../../assets/images/udemy/html-1.webp'"
    >
      <div videolist>Abschnitt 1: Einführung</div>
      <div videolist>Abschnitt 2: Einrichtung</div>
      <div videolist>Abschnitt 3: HTML Grundlagen</div>
    </task-video>
  </task>

  <task id="task-2" videoReference="Abschnitt 3 - HTML Grundlagen" section="html">
    <div title>Fragen</div>
    <div description>Beantworte die Fragen so gut wie möglich und am besten ohne Hilfe.</div>

    <task-questions>
      <div questionlist>
        Wie ist ein HTML Dokument grundlegend aufgebaut? Wodurch zeichnen sich die einzelnen Bestandteile aus?
      </div>
      <div questionlist>
        Wofür werden die Tags <code>ol</code> und <code>ul</code> verwendet? Worin unterscheiden sie sich?
      </div>
      <div questionlist>Wie kannst du in HTML Inhalte strukturieren?</div>
      <div questionlist>
        Der Webentwickler Thomas sagt: „HTML ist die meistverbreitete Programmiersprache“ - Hat Thomas recht?
      </div>
      <div questionlist>
        Welche HTML Tags hast du bisher kennengelernt? Liste alle Tags kurz auf und beschreibe ihre Funktion in einem
        Stichpunkt.
      </div>
      <div extraquestion>
        Wie ist das Einstiegsdokument (HTML, Php, etc Dokumente) jeder Website benannt und wozu dient diese Benennung?
      </div>
    </task-questions>
  </task>

  <task
    id="task-3"
    solutionLink="https://stackblitz.com/edit/html-lebenslauf?file=index.html"
    hint="Nutze die HTML-Tags, die du in den Abschnitten gelernt hast."
    videoReference="Abschnitt 3 - HTML Grundlagen"
    section="html"
  >
    <div title>HTML Lebenslauf</div>

    <task-text>
      <div exercise>
        Zu diesem Zeitpunkt solltest du die HTML Grundlagen kennengelernt haben. Jetzt ist es an der Zeit, diese zu
        vertiefen und in der Praxis anzuwenden. Deine Aufgabe ist es einen Lebenslauf von dir oder einer ausgedachten
        Person anzufertigen. Dadurch lernen wir dich eventuell besser kennen und du kannst deine neu erlernten
        Fähigkeiten direkt mal testen. Den Lebenslauf solltest du wie folgt strukturieren:
      </div>
      <div exerciselist>Die Überschrift sollte lauten: „Lebenslauf von [Dein Name]“.</div>
      <div exerciselist>
        Als nächstes solltest du ein Bild von dir einfügen, was sich unter der Überschrift befindet.
      </div>
      <div exerciselist>Darunter sollte sich ein Paragraph befinden, indem du dich kurz beschreibst.</div>
      <div exerciselist>
        In einer Liste kannst du weitere Informationen über dich angeben, wie z.B. Geburtsdatum, Sprachen, Fertigkeiten,
        deine bisherige Ausbildung, etc.
      </div>
      <div exerciselist>
        Dabei sollst du dein Geburtsdatum hervorheben sowie die Sprachen, die du sprichst, kursiv schreiben.
      </div>
      <div exerciselist>
        Daraufhin sollst du deine Hobbies und Freizeitaktivitäten nach ihrer Priorität in einer geordneten Liste
        darstellen.
      </div>
      <div exerciselist>
        Du solltest ja auch schon kurz die Input Felder kennengelernt haben, dazu kannst du ein kleines Kontaktformular
        schreiben, in dem dir die Besucher deiner Website eine nette Nachricht hinterlassen können.
      </div>
      <div exerciselist>
        Zuletzt soll deine Website einen Footer haben, in dem die Copyright Informationen zu deiner Website angegeben
        sind (z.B. „© All Rights Reserved [Jahr]“) sowie ein Link zu https://lenne.tech.
      </div>
    </task-text>
  </task>
</section>
