@import 'src/assets/scss/utils';

::ng-deep.banner-img {
  width: 100%;
  margin-top: -15% !important;
}
.banner {
  padding-left: 0px;
  padding-right: 0px;
}

.selection {
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
  & li {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
    &:nth-child(2n) {
      flex-basis: 100%;
    }
    &:hover {
      color: $orange !important;
    }
  }
}

@include media-breakpoint-up(xl) {
  .selection {
    justify-content: space-between !important;
    & li {
      white-space: nowrap;
      &:nth-child(2n) {
        flex-basis: 0 !important;
      }
    }
  }
}

.abos {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
}

.aktionen {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-li {
  background: url(/assets/images/bulletpoint.svg) no-repeat top left !important;
  margin: 0;
  padding: 4px 0 4px 20px;
  list-style: none;
}

.card-container {
  flex: wrap;
}

::ng-deep.rocket-img {
  display: none !important;
}

.banner {
  max-height: 400px;
}

.selectioncolor {
  background-color: var(--color-primary-500);
}
