<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column class="p-0">
    <div class="container">
      <div class="section">
        <app-banner
          [title]="title"
          [subtitle]="subtitle"
          [imageUrl]="imageUrl"
          [showAcademyBtn]="true"
          [entryPointId]="'praktikant'"
        ></app-banner>
      </div>
    </div>
    <div class="container-fluid pe-0 ps-0 pb-3 pt-3 bg-brand-banner">
      <app-brand-banner></app-brand-banner>
    </div>
    <div class="container">
      <div class="section">
        <h2 class="section-title">Das ist der Ablauf</h2>
        <app-text-image-list></app-text-image-list>
      </div>
    </div>

    <div class="container-fluid p-3 bg-brand-banner">
      <div class="section">
        <app-company-testimonial [review]="review"></app-company-testimonial>
      </div>
    </div>

    <div class="container">
      <div class="section">
        <h2 class="section-title">Unsere Tutoren helfen dir gerne weiter</h2>
        <app-tutor-cards></app-tutor-cards>
      </div>
    </div>

    <div class="container">
      <div class="section">
        <app-contact-card
          [title]="'Bewirb dich bei uns!'"
          [text]="
            'Haben wir dein Interesse geweckt?\n Dann melde dich bei uns und erzähl uns mehr über dich.\n Wir freuen uns darauf, dich kennenzulernen!'
          "
          [image]="'../../assets/images/banner-images/contact.svg'"
          [buttonText]="'Bewerbung Senden'"
          (buttonClicked)="sendApplication()"
        ></app-contact-card>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
