@import 'src/assets/scss/utils';

.section-title {
  margin-top: 4rem;
  margin-bottom: 0px;
  text-align: center;
}

.testimonials {
  margin-top: 70px;
  margin-bottom: 70px;
  line-height: 180%;
  margin-bottom: 0;
  justify-content: center !important;

  @include media-breakpoint-up(lg) {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .col-left {
    @include media-breakpoint-up(lg) {
      padding-left: 80px !important;
    }
  }

  .col-right {
    padding-left: 80px !important;
    padding-right: 80px !important;

    @include media-breakpoint-up(lg) {
      padding-left: 60px !important;
    }
  }

  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 2;

    @media (max-width: 767.98px) {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .description-name {
    font-size: 16px;
    margin-top: 2rem;
    text-align: right;
    @media (max-width: 767.98px) {
      font-size: 14px;
    }
  }
}
.quote {
  margin-bottom: auto;
  margin-right: 1rem;
}
