<nb-layout>
  <nb-layout-header fixed class="mobile-spacing border-bottom">
    <div class="container-fluid">
      <div class="d-flex justify-content-between header mobile-margin">
        <div class="d-flex align-items-center">
          <div class="container">
            <img
              src="../../../../../assets/images/banner-images/icon+name-schub.svg"
              alt=""
              class="logo"
              routerLink="/"
            />
          </div>
        </div>
        <div class="d-flex align-items-center" *ngIf="currentEntryPoint">
          <div class="d-none d-md-flex align-items-center">
            <span class="me-1">In</span>
            <nb-select placeholder="Wähle einen Lernpfad aus" [selected]="currentEntryPoint.id">
              <nb-option
                [value]="entryPoint.id"
                *ngFor="let entryPoint of entryPoints | removeDuplicate"
                (click)="switchEntryPoint(entryPoint)"
                >{{ entryPoint.address }}</nb-option
              >
            </nb-select>
            <span class="ms-1">eingecheckt.</span>
            <i
              class="bi bi-door-open"
              (click)="resetEntryPoint()"
              title="Lernpfad zurücksetzen"
              data-cy="reset-entrypoint"
            ></i>
          </div>
          <i
            class="d-block d-md-none bi"
            [ngClass]="{ 'bi-list': sidebarCollapsed, 'bi-x': !sidebarCollapsed }"
            (click)="toggleSidebar()"
          ></i>
        </div>
      </div>
      <div class="mobile-margin">
        <span class="d-block d-md-none d-flex justify-content-between align-items-center pb-1">
          <nb-select placeholder="Wähle einen Lernpfad aus" [selected]="currentEntryPoint.id">
            <nb-option
              [value]="entryPoint.id"
              *ngFor="let entryPoint of entryPoints | removeDuplicate"
              (click)="switchEntryPoint(entryPoint)"
              >{{ entryPoint.address }}</nb-option
            >
          </nb-select>
          <i class="bi bi-door-open ms-2" (click)="resetEntryPoint()" title="Lernpfad zurücksetzen"></i>
        </span>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar class="section-list-item" fixed>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <div *ngIf="onlyParentRoute">
      <h1 class="text-center">Dein Lernpfad als {{ currentEntryPoint.address }}</h1>
      <h2 class="text-center mt-3">Wähle in der Sidebar einen Abschnitt aus</h2>
      <img class="mx-auto d-block img-fluid" [src]="imgSrc" alt="Illustration des Lernpfades" />
    </div>
    <router-outlet class="d-none d-md-block"></router-outlet>

    <div class="row mt-4 mb-4" *ngIf="!onlyParentRoute && checkBottomNavbar()">
      <div class="col-4 d-flex justify-content-start">
        <button nbButton status="dark" class="nav-btn" (click)="onBack()" *ngIf="prevSection" data-cy="nav-btn-prev">
          ❮ {{ prevSection }}
        </button>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <button
          nbButton
          status="dark"
          class="nav-btn"
          *ngIf="currentMileStoneUrl"
          (click)="onMileStone()"
          data-cy="milestone-btn"
        >
          <span class="d-md-flex d-none">Zur Trophäe</span> <i class="bi bi-trophy-fill"></i>
        </button>
      </div>

      <div class="col-4 d-flex justify-content-end" *ngIf="checkBottomNavbar()">
        <button nbButton status="dark" class="nav-btn" (click)="onForward()" *ngIf="nextSection" data-cy="nav-btn-next">
          {{ nextSection }} ❯
        </button>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
