@import 'src/assets/scss/utils';
.section-list-item {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.bi-list {
  font-size: 32px;
}

.bi-x {
  font-size: 36px;
}

::ng-deep .route-tabset {
  overflow: scroll;
  margin-bottom: 3rem !important;
}

.bi-door-open {
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    color: var(--color-primary-500);
    transition: 0.3s;
  }
}

@include media-breakpoint-down(md) {
  ::ng-deep .expanded {
    width: 100% !important;
    .main-container {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  ::ng-deep .layout-container .fixed {
    position: relative !important;
  }
}
