<nb-layout>
  <nb-layout-header fixed>
    <div class="container-fluid">
      <div class="d-flex justify-content-between header">
        <div class="d-flex align-items-center">
          <a routerLink="/">
            <div class="title">lt<span class="color-primary">akademie</span></div>
          </a>
          <i class="bi bi-door-open d-block d-md-none ms-2" (click)="resetEntryPoint()"></i>
        </div>
        <div class="d-flex align-items-center" *ngIf="currentEntryPoint">
          <span class="d-none d-md-block"
            >Als <b class="me-1 ms-1 color-primary">{{ currentEntryPoint?.address }}</b
            >eingecheckt. <i class="bi bi-door-open" (click)="resetEntryPoint()"></i
          ></span>
          <i
            class="d-block d-md-none bi"
            [ngClass]="{ 'bi-list': sidebarCollapsed, 'bi-x': !sidebarCollapsed }"
            (click)="toggleSidebar()"
          ></i>
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar class="section-list-item" fixed>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <div *ngIf="onlyParentRoute">
      <h1 class="text-center">Dein Lernpfad als {{ currentEntryPoint.address }}</h1>
      <h2 class="text-center mt-3">Wähle in der Sidebar einen Abschnitt aus</h2>
      <img class="mx-auto d-block img-fluid" [src]="imgSrc" [alt]="imgAlt" />
    </div>
    <router-outlet class="d-none d-md-block"></router-outlet>

    <div class="row mt-4 mb-4" *ngIf="!onlyParentRoute">
      <div class="col-4 d-flex justify-content-start">
        <button nbButton status="dark" class="nav-btn" (click)="onBack()" *ngIf="prevSection">
          ❮ {{ prevSection }}
        </button>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <button nbButton status="dark" class="milestone-btn" *ngIf="currentMileStoneUrl" (click)="onMileStone()">
          Zur Trophäe
        </button>
      </div>

      <div class="col-4 d-flex justify-content-end">
        <button nbButton status="dark" class="nav-btn" (click)="onForward()" *ngIf="nextSection">
          {{ nextSection }} ❯
        </button>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
