<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column class="p-0">
    <div class="container">
      <div class="section">
        <app-banner [title]="title" [subtitle]="subtitle" [imageUrl]="imageUrl" [showAcademyBtn]="false"></app-banner>
      </div>

      <div class="row" [ltMatchHeight]="['card-container', 'card', 'card-text']">
        <div
          class="col-12 col-md-6 col-xl-4 mb-5 d-flex justify-content-around justify-content-md-between card-container"
          *ngFor="let entryPoint of entryPoints"
        >
          <app-entry-point-card
            [title]="entryPoint.title"
            [imageUrl]="entryPoint.image"
            [description]="entryPoint.description"
            [route]="'/lernpfad'"
            (linkClickEvent)="setSelectedEntryPoint(entryPoint)"
          >
          </app-entry-point-card>
        </div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
