<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column class="p-0">
    <div class="container">
      <div class="section">
        <app-banner [title]="title" [subtitle]="subtitle" [imageUrl]="imageUrl" [showAcademyBtn]="false"></app-banner>
      </div>
    </div>
    <div class="container-fluid bg-primary-500">
      <div class="container">
        <div class="row pb-3 pt-3 mb-5 entrypoint-selection align-items-center">
          <div
            class="col-md-3 d-flex justify-content-center selection"
            (click)="onButtonClicked(EntryPointMode.ALL)"
            [ngStyle]="{ color: mode === EntryPointMode.ALL ? 'orange' : 'white' }"
          >
            Alle
          </div>
          <div
            class="col-md-3 d-flex justify-content-center selection"
            (click)="onButtonClicked(EntryPointMode.JOB_INTERESTED)"
            [ngStyle]="{ color: mode === EntryPointMode.JOB_INTERESTED ? 'orange' : 'white' }"
          >
            Berufsinteressierte
          </div>
          <div
            class="col-md-3 d-flex justify-content-center selection"
            (click)="onButtonClicked(EntryPointMode.INTERN)"
            [ngStyle]="{ color: mode === EntryPointMode.INTERN ? 'orange' : 'white' }"
          >
            Praktikant:innen & Hobbyentwickler:innen
          </div>
          <div
            class="col-md-3 d-flex justify-content-center selection"
            (click)="onButtonClicked(EntryPointMode.COMPANY)"
            [ngStyle]="{ color: mode === EntryPointMode.COMPANY ? 'orange' : 'white' }"
          >
            Unternehmen & Gründer:innen
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" [ltMatchHeight]="['card-container', 'card', 'card-text']">
        <div
          class="col-12 col-md-6 col-xl-4 mb-5 d-flex justify-content-around card-container"
          *ngFor="let entryPoint of filteredArray"
        >
          <app-entry-point-card
            [title]="entryPoint.title"
            [imageUrl]="entryPoint.image"
            [description]="entryPoint.description"
            [highlight]="entryPoint.id === recommendation"
            [route]="'/lernpfad'"
            (linkClickEvent)="setSelectedEntryPoint(entryPoint)"
          >
          </app-entry-point-card>
        </div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
