::ng-deep.task {
  .title {
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
  }

  .description {
    font-size: 1.6rem;
    line-height: 1.3em;
  }

  .videolist {
    margin-left: 30px;
    display: list-item;
    list-style-type: square;
    list-style-position: outside;
    font-size: 1.4rem;
    line-height: 2em;
  }
  .completed {
    background-color: var(--color-success-500);
    color: white;
  }
}
