::ng-deep.task {
  .title {
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
  }

  .description {
    font-size: 1.6rem;
    line-height: 1.3em;
  }

  
  .completed {
    background-color: var(--color-success-500);
    color: white;
  }
}
