<section
  [pageTitle]="'Cypress'"
  [seoTitle]="'ltacademy - Cypress'"
  [seoDescription]="'Lerne Cypress mithilfe der ltacademy.'"
  [seoKeywords]="'cypress, academy, online, learning, platform'"
>
  <task
    id="task-1"
    section="cypress"
    [image]="{
      url: '../../assets/images/academy-images/error.svg',
      alt: 'Illustration einer Frau, die vor einem explodierenden Laptop steht'
    }"
  >
    <div title>Inhalt</div>

    <task-text>
      <div info>
        In diesem Abschnitt geht es um das Testen von Angularprojekten. Projekte, egal mit welchem Framework, werden mit
        der Zeit größer und damit komplexer und unübersichtlicher. Im Regelfall testet man auch nur die Sektionen der
        Anwendung, die man unmittelbar vorher bearbeitet hat. Wenn diese funktionieren, kann es aber dazu kommen, dass
        andere Teile des Systems nicht mehr funktionsfähig sind. Das fällt dann erst viel zu spät auf und man ist sich
        unsicher, an welcher Stelle sich dieser Fehler eingeschlichen hat. Um solch einer Situation vorzubeugen, gibt es
        die Möglichkeit, Tests zu schreiben, die den Großteil der Applikation abdecken und somit Fehler aufdecken
        können. Wie das geht, lernst du jetzt!
      </div>
    </task-text>
  </task>

  <task id="task-2" section="cypress">
    <div title>Video</div>
    <div description>In diesem Video wird dir gezeigt, was mit Cypress möglich ist.</div>

    <task-video [youtubelink]="'https://www.youtube.com/embed/7N63cMKosIE'"> </task-video>
  </task>

  <task id="task-3" section="cypress">
    <div title>Video</div>
    <div description>In diesem Video wird dir Cypress in mehr Detail präsentiert.</div>

    <task-video [youtubelink]="'https://www.youtube.com/embed/Txir3jAooMI'"> </task-video>
  </task>

  <task id="task-4" section="cypress">
    <div title>Projekt</div>

    <task-text>
      <div exercise>
        Füge Cypress zu deinem eigenen Projekt hinzu und starte einen Testdurchlauf. Guck dir dafür die
        <a href="https://docs.cypress.io/guides/getting-started/installing-cypress" taskLink
          >Dokumentation von Cypress</a
        >
        an. Folgende Situationen könntest du z. B. testen, sofern sie in deiner Anwendung vorhanden sind:
      </div>
      <div exerciselist>Navigiere einmal komplett durch deine Anwendung</div>
      <div exerciselist>
        Versuche auf Seiten deines Systems zu gelangen, die nicht für alle zugänglich sind und überprüfe das Verhalten.
      </div>
      <div exerciselist>
        Prüfe, ob der Login richtig funktioniert und was passiert, wenn falsche Daten angegeben werden.
      </div>
      <div exerciselist>Lege Inhalte an und speichere sie ab.</div>
      <div exerciselist>Bearbeite Inhalte und lösche diese.</div>
      <div exerciselist>
        Log dich aus und versuche danach auf eine gesicherte Seite innerhalb deiner Anwendung zu navigieren.
      </div>
    </task-text>
  </task>
</section>
