.row {
  margin-bottom: 3rem;
}

.title {
  font-size: 1.5rem;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.text {
  white-space: pre-line;
  font-family: Open Sans, sans-serif;
  font-weight: 200;

  .link {
    text-decoration: underline;
    color: var(--card-text-color);

    &:hover {
      text-decoration: none;
      color: var(--color-info-500);
    }
  }
}
