@import 'src/assets/scss/utils';
.row {
  margin-bottom: 3rem;
}

.title {
  font-size: 25px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.text {
  white-space: pre-line;
  font-family: Open Sans, sans-serif;
  font-weight: 200;
  font-size: 18px;

  .link {
    text-decoration: underline;
    color: var(--card-text-color);

    &:hover {
      text-decoration: none;
      color: var(--color-info-500);
    }
  }
}

li {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 5px;
}

.btn-orange {
  background-color: $orange;
  color: white;
}
