<div class="container">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        class="carousel-item"
        [ngClass]="{ active: i == 0 }"
        *ngFor="let review of reviews; let i = index"
        data-bs-interval="10000"
      >
        <div class="row">
          <div class="col-12 col-lg-4 d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center p-2">
              <img
                [src]="review.imageUrl"
                class="d-block"
                [ngClass]="{ 'image-circle': imageAsCircle }"
                [ngStyle]="{ width: imageWidth, height: imageHeight }"
              />
              <div class="reviewer-text mt-3">
                <b>{{ review.reviewerTitle }}</b
                ><br />
                {{ review.reviewerSubtitle }}
              </div>
            </div>
          </div>
          <div class="col-12 flex-column col-lg-8 d-flex align-items-center justify-content-center">
            <div class="review-text text-center">„{{ review.text }}“</div>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-slide="prev" data-bs-target="#carousel">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-slide="next" data-bs-target="#carousel">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
