@import 'src/assets/scss/utils';
.carousel-item {
  position: relative;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-circle {
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  border: 2px solid white;
}

.carousel-control-next {
  position: absolute;
  right: -10%;
}

.carousel-control-prev {
  position: absolute;
  left: -10%;
}

.review-text {
  color: white;
  font-family: Open Sans, sans-serif;
  font-weight: 200;
  line-height: 2.25rem;
  font-style: italic;
}

.reviewer-text {
  line-height: 20px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.reviewer-sm {
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-image {
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
    border: 2px solid white;
    height: 80px;
    width: 80px;
    margin-right: 20px;
  }

  &-text {
    line-height: 20px;
    font-size: 16px;
    color: white;
    text-align: center;
  }
}

@include media-breakpoint-down(md) {
  .image-circle {
    height: 100px !important;
    width: 100px !important;
  }
}
