@import 'src/assets/scss/utils';
.image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

.img-review-circle {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 8px 1px #b3b3b3;
  object-fit: cover;
}

.card-img {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

.reference-link {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.team-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

.s-500 {
  width: 500px;
  height: 500px;
}

.academy-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@include media-breakpoint-up(xl) {
  .academy-img {
    max-width: 600px;
  }
}
.flying-letter {
  width: 40px;
  margin-right: 50px;
  object-fit: contain;
}
.img-rounded {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 15px 11px;
    transition: 0.5s;
  }
}
.accordion-image {
  width: 100%;
  height: auto;
}
