<section
  [pageTitle]="'Teamwork'"
  [seoTitle]="'lenne.Learning - Teamwork'"
  [seoDescription]="'Lerne Teamwork mithilfe von lenne.Learning.'"
  [seoKeywords]="'teamwork, academy, online, learning, platform, akademie'"
>
  <task id="task-1" section="teamwork">
    <div title>Arbeiten als Team</div>
    <div sidebarTitle>Arbeiten</div>
    <div description>
      Wenn Du in einem Unternehmen arbeitest, bist Du im Normalfall Teil eines Teams. In jedem Projekt werden
      verschiedene Teams und Personen benötigt, die diverse Arbeiten am Projekt erledigen. Je nach Größe des
      Unternehmens kann auch die Größe und Zusammensetzung der Teams variieren. Daher gibt es verschiedene Aspekte im
      Hinblick auf den Ablauf und die Organisation eines gemeinsamen Projekts, die es zu beachten gilt. Dazu zählen die
      Arbeitsweise z. B. Scrum, die verwendeten Tools wie z. B. Jira und der vorgegebene Workflow. Diese Aspekte können
      sich je nach Unternehmen unterscheiden.
    </div>
  </task>

  <task id="task-2" section="teamwork">
    <div title>Methoden und Tools</div>
    <div sidebarTitle>Methoden und Tools</div>
    <div description>
      Für die Durchführung eines Projekts und die Zusammenarbeit nach den Vorgaben der Workflows haben Unternehmen meist
      bestimmte Tools und Methoden festgelegt, die verwendet werden sollen. Dabei sind vor allem agile Methoden wie z.
      B. Scrum bei Softwareprojekten sehr beliebt. Durch kurze Entwicklungszyklen, sogenannte Sprints, lassen sich
      Projekte flexibel steuern und anpassen. Ein Sprint dauert in der Regel ein bis vier Wochen. Für die Definition und
      Festlegung der Vorgänge, die innerhalb eines Sprints abgearbeitet werden sollen, können unterschiedliche Tools wie
      z. B. Jira verwendet werden. In den folgenden Videos bekommst Du einen kurzen Einblick in das Arbeiten mit Scrum
      und Jira.
    </div>
  </task>

  <task id="task-3" section="teamwork">
    <div title>Videos</div>
    <div description>Schaue Dir diese Videos an und komme danach wieder hier her.</div>

    <task-video [youtubelink]="'https://www.youtube.com/embed/Ibz9STVjtzI'"></task-video>
    <task-video [youtubelink]="'https://www.youtube.com/embed/4J3EAEdHs_E'"></task-video>
  </task>

  <task id="task-4" section="teamwork">
    <div title>Workflow</div>
    <div description>
      Meist existiert ein vordefinierter Workflow in einem Betrieb. Anhand eines Workflows wird einfach gesagt deutlich,
      wie verschiedene Personen und Teams zusammenarbeiten sollen. Ein Projekt umfasst in der Regel drei verschiedene
      Phasen:Konzeption, Design und Entwicklung (Umsetzung). Bedenke, dass nicht nur Entwickler:innen an einem Projekt
      arbeiten, sondern auch Personen aus anderen (nicht-technischen) Unternehmensbereichen. So haben bspw.
      Designer:innen vermutlich keine Programmierkenntnisse und den Entwickler:innen fehlt die Designexpertise. Genau
      deshalb ist es wichtig, entsprechend des Workflows zu agieren, sich um eine klare Kommunikation und gute
      Dokumentation zu bemühen z. B. durch die Projektseiten und Tickets in einem Projektboard sowie vordefinierte
      Regeln einzuhalten. Am verlinkten Beispiel schlüsseln wir exemplarisch einen Workflow auf.
    </div>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header class="fs-6">Workflow</nb-accordion-item-header>
        <nb-accordion-item-body>
          <a href="../assets/images/academy-images/workflow.png" taskLink>
            <img
              src="../assets/images/academy-images/workflow.png"
              alt="Bild eines exemplarischen Workflows"
              class="accordion-image"
          /></a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <task-text>
      <div info></div>
      <div infolist>
        Im Backlog werden die Ideen und Anforderungen gesammelt. Diese werden sortiert und priorisiert.
      </div>
      <div infolist>
        In der Konzeption werden die Tickets für die Weiterbearbeitung konkretisiert. Abläufe, Datenbankmodelle und Co.
        werden spezifiziert.
      </div>
      <div infolist>
        Ist für ein Ticket ein Design nötig, werden im Schritt Design die UX/UI-Vorlagen erstellt. Diese werden mithilfe
        eines Clickdummies auf Vollständigkeit geprüft und von den Kund:innen abgenommen.
      </div>
      <div infolist>
        Im Schritt Development werden die Konzeption und die Designvorlage programmiertechnisch umgesetzt. Nicht zu
        vergessen sind hier Level 2 Tests. Außerdem werden Lanting-Regeln, Unit-Tests und e2e-Tests erstellt.
      </div>
      <div infolist>Im Enduser-Test findet der Level 3 Test statt.</div>
      <div infolist>
        Abhängig vom Ergebnis des Level 3 Tests landet das Ticket in der Review oder wird rückschrittig verlagert.
      </div>
      <div infolist>In der Review findet eine finale Abnahme des Tickets statt.</div>
      <div infolist>
        Alle freigegebenen Features landen in der Bereitstellung und werden Teil des nächsten Release sein.
      </div>
    </task-text>
  </task>
  <task id="task-5" section="teamwork">
    <div title>Schnittstellen</div>
    <div description>
      Wird nach einem solchen Workflow gearbeitet, gibt es zwischen den Phasen immer Übergangsschritte. Zum Design geht
      es nur über den Schritt ToDesign, zur Review nur über den Schritt ToReview, etc. Diese Übergangsschritte sind die
      Schnittstellen zwischen den einzelnen Teams. Solche Schnittstellen sind in der Regel anfällig für Fehler, bergen
      aber auch häufig Potenzial für Prozessoptimierungen. Entsprechend sorgfältig sollte hier agiert werden.
    </div>
    <task-text>
      <div info></div>
      <div infolist>
        So wird bspw. im Schritt ToDesign das vollumfängliche Ticket mit Beschreibungen, Skizzen, Beispielen sowie
        Hinweisen zu anderen Tickets für die weitere Verarbeitung als PDF hinterlegt. Tickets werden erst zum
        Design-Team weitergegeben, wenn diese freigegeben wurden.
      </div>
      <div infolist>
        Im Schritt ToDevelop liegen nun zusätzlich die abgenommenen Designvorlagen und der Clickdummy vor. Diese werden
        an die Entwickler übergeben, sodass diese direkt alle Designs und wichtigen Abläufe entnehmen können. Auch zu
        verwendende Bilder und Icons sollen direkt zur Verfügung stehen.
      </div>
      <div infolist>
        Wie genau diese Schritte definiert sind hängt immer davon ab, wie ein Workflow und dessen Regeln definiert sind.
        Es ist allerdings in jedem Fall wichtig, dass man sich an eben jenen hält, damit ein effizientes Arbeiten im
        Team möglich ist.
      </div>
    </task-text>
  </task>

  <task
    id="task-6"
    section="teamwork"
    [image]="{
      url: '../../assets/images/academy-images/sprint-planning.svg',
      alt: 'Illustration von drei Personen die zusammen vor einem Board ein Projekt planen'
    }"
  >
    <div title>Git</div>

    <task-text>
      <div info>
        Wenn man als Entwickler:in in einem Team arbeitet, bearbeitet man häufig gemeinsam den gleichen Code. Dabei
        können viele Probleme auftreten: Mehrere arbeiten am gleichen Problem und damit verliert man Zeit oder Du hast
        noch gar nicht den neuesten Stand des Projekts. Um diese Probleme zu vermeiden, nutzen wir Git und die damit
        kommenden Funktionen. In den nächsten Abschnitten erfährst Du unter anderem, wie Du Branches (Abzweigungen) des
        Hauptcodes erstellst, damit arbeitest und diese später wieder zum Hauptstrang hinzufügst.
      </div>
    </task-text>
  </task>

  <task id="task-7" section="teamwork">
    <div title>Video</div>
    <div description>Schaue Dir dieses Video an und komme danach wieder hier her.</div>

    <task-video [youtubelink]="'https://www.youtube.com/embed/ZVoSBA03Tdc?'"></task-video>
  </task>

  <task
    id="task-8"
    solutionLink="https://youtu.be/dnAy6aIbIWo"
    hint="Manche Aufgabenstellungen im Spiel sind wirklich nicht eindeutig, daher ist es nicht schlimm danach zu googeln."
    section="teamwork"
  >
    <div title>Oh My Git</div>
    <div description>
      Lade Dir das Spiel <a href="https://ohmygit.org/" taskLink>Oh My Git</a> herunter, falls noch nicht geschehen und
      spiele die Kapitel 'Branches' und 'Merge'. Du kannst natürlich auch die weiteren Übungen machen, wenn Du noch mehr
      lernen willst und es Dir Spaß macht.
    </div>
  </task>

  <task
    id="task-9"
    hint="Bei Fehlern werden Dir in der Konsole häufig Lösungen angezeigt, die Du verwenden kannst."
    section="teamwork"
    [image]="{
      url: '../../assets/images/academy-images/newsletter.svg',
      alt: 'Illustration einer Frau, die vor einem Board mit einem Brief steht'
    }"
  >
    <div title>Gästebuch</div>

    <task-text>
      <div exercise>
        Setze die gelernten Inhalte in die Praxis um. Deine Aufgabe ist es, einen Eintrag in unserem Gästebuch zu
        hinterlassen. Wichtig ist, dass es hier prinzipiell verschiedene Methoden gibt, wie Du an und mit Repositories
        arbeiten kannst. Bist Du Teil eines Teams auf Github, so kannst Du in Repositories dieses Teams arbeiten. Bist
        Du das nicht, musst Du das Repository forken und dann anschließend eine Pull Request erstellen, mit welcher Dein
        Fork in das ursprüngliche Repository aufgenommen wird. In diesem Fall musst Du das Repository des Gästebuches
        erst forken. <br />
        Hier eine kurze Anleitung:
      </div>
      <div exerciselist>
        Forke das <a href="https://GitHub.com/lenneTech/guestbook" taskLink>GitHub-Repository</a> vom Gästebuch.
      </div>
      <div exerciselist>Bearbeite, was Du bearbeiten möchtest.</div>
      <div exerciselist>Navigiere wieder zum ursprünglichen Repository.</div>
      <div exerciselist>Über der Liste der Dateien wählst Du den Button Pull request aus.</div>
      <div exerciselist>
        Auf der Compare page vergleichst Du zwischen den Forks und prüfst, ob alles seine Richtigkeit hat.
      </div>
      <div exerciselist>Als base branch wählst Du das Repository aus, in welches Du Deinen Fork mergen möchtest.</div>
      <div exerciselist>Als head fork wählst Du Dein Repository aus, von dem Du mergen möchtest.</div>
      <div exerciselist>Füge einen aussagekräftigen Titel und Beschreibung hinzu.</div>
      <div exerciselist>
        Deine Pull request wird über den Button "Create Pull Request" finalisiert und Du stellst sie damit zur Review
        bereit.
      </div>
      <div exerciselist>Eine Review später siehst Du Deinen Fork gemerged im ursprünglichen Repository.</div>
    </task-text>
  </task>
  <task
    id="task-10"
    hint="Bei Fehlern werden Dir in der Konsole häufig Lösungen angezeigt, die Du verwenden kannst."
    section="teamwork"
  >
    <div title>Github als Team</div>

    <task-text>
      <div exercise>
        Wie gerade schon erwähnt gibt es auch die Möglichkeit, dass Du als Teil eines Teams Repositories bearbeitest.
        Sollte dies der Fall sein, folgt hier noch einmal die Anleitung dazu
      </div>
      <div exerciselist>Klone das GitHub-Repository des Projekts.</div>
      <div exerciselist>Erstelle einen neuen Branch, in welchem Deine Änderungen stattfinden werden.</div>
      <div exerciselist>Ändere, entwickle, reviewe, lösche oder was auch sonst anfällt.</div>
      <div exerciselist>
        Anschließend führst Du <code> git add . </code> aus. Danach committest Du mit
        <code> git commit -m "hier kommt eine aussagekräftige Beschreibung rein"</code>.
      </div>
      <div exerciselist>
        Bevor Du Deine Änderungen pushst, gleichst Du nochmal Deinen Branch mit dem Hauptbranch ab. Dies machst Du um
        Mergekonflikte präventiv zu verhindern.
      </div>
      <div exerciselist>
        Dafür führst Du <code>git checkout name-des-main-branches</code> aus. Danach folgt <code> git fetch</code> und
        <code>git pull</code>.
      </div>
      <div exerciselist>
        Nun wechselst Du mit <code>git checkout name-Deines-neuen-branches</code> zurück in Deinen neu erstellten Branch
        und gleichst mit <code>git rebase name-des-main-branches</code> die zwei Stände miteinander ab.
      </div>
      <div exerciselist>Treten hier Konflikte auf, musst Du diese natürlich beheben.</div>
      <div exerciselist>
        Gibt es keine Konflikte, kannst Du nun mit <code>git push</code> Deine Änderungen auf Github als Pull Request
        veröffentlichen.
      </div>
      <div exerciselist>
        Auf der Seite des Repositories hast Du nun die Möglichkeit eine Pull Request zu erstellen. Diese sollte von
        einer anderen Person reviewed werden und wird dann, wenn alles in Ordnung ist, gemerged.
      </div>
    </task-text>
  </task>
  <task id="task-11" section="teamwork">
    <div title>GitFlow</div>
    <div description>
      Dieses Video soll Dir einen Einblick geben, wie Du später in größeren Teams mithilfe von GitFlow organisiert
      arbeiten kannst. Probier das Beispiel aus dem Video ruhig selbst einmal aus oder passe das Repository Deines
      Hauptprojekts so an, dass Du nach diesem Schema arbeiten kannst.
    </div>
    <task-video [youtubelink]="'https://www.youtube.com/embed/TIkZiaupFCY'"></task-video>
  </task>
</section>
