<section
  [pageTitle]="'Teamwork'"
  [seoTitle]="'lenne.Learning - Teamwork'"
  [seoDescription]="'Lerne Teamwork mithilfe von lenne.Learning.'"
  [seoKeywords]="'teamwork, academy, online, learning, platform, akademie'"
>
  <task id="task-1" section="teamwork">
    <div title>Arbeiten als Team</div>
    <div sidebarTitle>Arbeiten</div>
    <div description>
      Wenn du in einem Unternehmen arbeitest oder arbeiten willst, bist du im Normalfall Teil eines Teams. In jedem
      Projekt werden verschiedene Teams benötigt, die diverse Arbeiten am Projekt erledigen. Aus diesem Grund ist es
      wichtig, sich ein paar Dinge bewusst zu machen.
    </div>
  </task>
  <task id="task-2" section="teamwork">
    <div title>Workflow</div>
    <div description>
      Meist existiert ein vordefinierter Workflow in einem Betrieb. Anhand des gegebenen Workflows sieht man sehr
      deutlich wie verschiedene Teams miteinander arbeiten sollen. Hier ist es wichtig sich bewusst zu machen, dass
      nicht nur Entwickler an einem Projekt arbeiten. Ein Projekt geht von der Konzeption übers Design bis zur
      Umsetzung. Das Team rund ums Design ist vermutlich nicht versiert mit dem Coding und das Team rund ums Coding
      nicht mit dem Design. Genau deshalb ist es wichtig, dass man nach einem klaren Workflow agiert und sich an
      vordefinierte Regeln hält. Am verlinkten Beispiel schlüsseln wir exemplarisch einen Workflow auf. <br /><br />
    </div>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header class="fs-6">Workflow</nb-accordion-item-header>
        <nb-accordion-item-body>
          <a href="../assets/images/academy-images/workflow.png" taskLink>
            <img
              src="../assets/images/academy-images/workflow.png"
              alt="Bild eines exemplarischen Workflows"
              class="accordion-image"
          /></a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <task-text>
      <div exercise></div>
      <div exerciselist>
        Im Backlog werden die Ideen und Anforderungen gesammelt. Diese werden sortiert und priorisiert.
      </div>
      <div exerciselist>
        In der Konzeption werden die Tickets für die Weiterbearbeitung konkretisiert. Abläufe, Datenbankmodelle und co
        werden spezifiziert.
      </div>
      <div exerciselist>
        Ist für ein Ticket ein Design nötig, werden im Schritt Design die UX/UI-Vorlagen erstellt. Diese werden mithilfe
        eines Clickdummies auf Vollständigkeit geprüft und vom Kunden abgenommen.
      </div>
      <div exerciselist>
        Im Schritt Development werden die Konzeption und die Design-Vorlage programmiertechnisch umgesetzt. Nicht zu
        vergessen sind hier Level 2 Tests. Außerdem werden Lanting-Regeln, Unit-Tests und e2e-Tests erstellt.
      </div>
      <div exerciselist>Im Enduser-Test findet der Level 3 Test statt.</div>
      <div exerciselist>
        Abhängig vom Ergebnis des Level 3 Tests landet das Ticket in der Review oder wird rückschrittig verlagert.
      </div>
      <div exerciselist>In der Review findet eine finale Abnahme des Tickets statt.</div>
      <div exerciselist>
        Alle freigebenden Features landen in der Bereitstellung und werden Teil des nächsten Release sein.
      </div>
    </task-text>
  </task>
  <task id="task-3" section="teamwork">
    <div title>Schnittstellen</div>
    <div description>
      Wenn man nach einem solchen Workflow arbeitet befinden sich zwischen den Schritten immer Übergangsschritte. Zum
      Design geht es nur über den Schritt ToDesign, zur Review nur über den Schritt ToReview, etc. An solchen
      Übergangsschritten entstehen Schnittstellen zwischen den einzelnen Teams. Entsprechend liegen besonders an diesen
      Schritten viele Fehlerquellen und potentielle Prozessoptimierungen. Ergo ist hier besondere Sorgfalt geboten.
    </div>
    <task-text>
      <div excercise></div>
      <div exerciselist>
        So wird beispielsweise im Schritt ToDesign das vollumfängliche Ticket mit Beschreibungen, Skizzen, Beispielen,
        Hinweisen zu anderen Tickets für die weitere Verarbeitung als PDF hinterlegt. Tickets werden erst zum
        Design-Team weitergegeben, wenn diese freigegeben wurden.
      </div>
      <div exerciselist>
        Im Schritt ToDevelop liegen nun zusätzlich die abgenommenen Designvorlagen und der Clickdummy vor. Diese werden
        an die Entwickler übergeben, sodass diese direkt alle Designs und wichtigen Abläufe entnehmen können. Auch zu
        verwenden Bilder und Icons sollen direkt zur Verfügung stehen.
      </div>
      <div exerciselist>
        Wie genau diese Schritte definiert sind hängt immer davon ab, wie ein Workflow und dessen Regeln definiert sind.
        Es ist allerdings in jedem Fall wichtig, dass man sich an eben jenen hält, damit ein effizientes Arbeiten im
        Team möglich ist.
      </div>
    </task-text></task
  >

  <task
    id="task-4"
    section="teamwork"
    [image]="{
      url: '../../assets/images/academy-images/sprint-planning.svg',
      alt: 'Illustration von drei Personen die zusammen vor einem Board ein Projekt planen'
    }"
  >
    <div title>Git</div>

    <task-text>
      <div info>
        Wenn man als Entwickler in einem Team arbeitet, bearbeitet man häufig gemeinsam den gleichen Code. Dabei können
        viele Probleme auftreten: Mehrere arbeiten am gleichen Problem und damit verliert man Zeit oder du hast noch gar
        nicht den neuesten Stand des Projekts. Um diese Probleme zu vermeiden, nutzen wir Git und die damit kommenden
        Funktionen. In den nächsten Abschnitten erfährst du unter anderem, wie du Branches (Abzweigungen) des Hauptcodes
        erstellst, damit arbeitest und diese später wieder zum Hauptstrang hinzufügst.
      </div>
    </task-text>
  </task>

  <task id="task-5" section="teamwork">
    <div title>Video</div>
    <div description>Schaue dir dieses Video an und komme danach wieder hier hin.</div>

    <task-video [youtubelink]="'https://www.youtube.com/embed/ZVoSBA03Tdc?'"></task-video>
  </task>

  <task
    id="task-6"
    solutionLink="https://youtu.be/dnAy6aIbIWo"
    hint="Manche Aufgabenstellungen im Spiel sind wirklich nicht eindeutig, daher ist es nicht schlimm danach zu googeln."
    section="teamwork"
  >
    <div title>Oh My Git</div>
    <div description>
      Lade dir das Spiel <a href="https://ohmygit.org/" taskLink>Oh My Git</a> herunter, falls noch nicht geschehen und
      spiele die Kapitel 'Branches' und 'Merge'. Du kannst natürlich auch die weiteren Übungen machen, wenn du noch mehr
      lernen willst und es dir Spaß macht.
    </div>
  </task>

  <task
    id="task-7"
    hint="Bei Fehlern werden dir in der Konsole häufig Lösungen angezeigt, die du verwenden kannst."
    section="teamwork"
    [image]="{
      url: '../../assets/images/academy-images/newsletter.svg',
      alt: 'Illustration einer Frau, die vor einem Board mit einem Brief steht'
    }"
  >
    <div title>Gästebuch</div>

    <task-text>
      <div exercise>
        Setze die gelernten Inhalte in die Praxis um. Deine Aufgabe ist es, einen Eintrag in unserem Gästebuch zu
        hinterlassen. Wichtig ist, dass es hier prinzipiell verschiedene Methoden gibt, wie du an und mit Repositories
        arbeiten kannst. Bist du Teil eines Teams auf Github, so kannst du in Repositories dieses Teams arbeiten. Bist
        du dies nicht, musst du das Repository forken und dann anschließend eine Pull request erstellen, mit welcher
        dein Fork in das ursprüngliche Repository aufgenommen wird. In diesem Fall musst du das Repository des
        Gästebuches erst forken. <br />
        Hier eine kurze Anleitung:
      </div>
      <div exerciselist>
        Forke das <a href="https://GitHub.com/lenneTech/guestbook" taskLink>GitHub-Repository</a> vom Gästebuch.
      </div>
      <div exerciselist>Bearbeite, was du bearbeiten möchtest.</div>
      <div exerciselist>Navigiere wieder zum ursprünglichen Repository.</div>
      <div exerciselist>Über der Liste der Dateien wählst du den Button Pull request aus.</div>
      <div exerciselist>
        Auf der Compare page vergleichst du zwischen den Forks und prüfst, ob alles seine Richtigkeit hat.
      </div>
      <div exerciselist>Als base branch wählst du das Repository aus, in welches du deinen Fork mergen möchtest.</div>
      <div exerciselist>Als head fork wählst du dein Repository aus, von dem du mergen möchtest.</div>
      <div exerciselist>Füge einen aussagekräftigen Titel und Beschreibung hinzu.</div>
      <div exerciselist>
        Deine Pull request wird über den Button "Create Pull Request" finalisiert und du stellst sie damit zur Review
        bereit.
      </div>
      <div exerciselist>Eine Review später siehst du deinen Fork gemerged im ursprünglichen Repository.</div>
    </task-text>
  </task>
  <task
    id="task-8"
    hint="Bei Fehlern werden dir in der Konsole häufig Lösungen angezeigt, die du verwenden kannst."
    section="teamwork"
  >
    <div title>Github als Team</div>

    <task-text>
      <div exercise>
        Wie gerade schon erwähnt gibt es auch die Möglichkeit, dass du als Teil eines Teams Repositories bearbeitest.
        Sollte dies der Fall sein, folgt hier noch einmal die Anleitung, wie du in diesem Fall am Repository arbeitest
      </div>
      <div exerciselist>Klone das GitHub-Repository des Projektes</div>
      <div exerciselist>Erstelle einen neuen Branch, in welchem deine Änderungen stattfinden werden.</div>
      <div exerciselist>Ändere, entwickle, reviewe, lösche, oder was auch sonst anfällt.</div>
      <div exerciselist>
        Anschließend führst du <code> git add . </code> aus. Danach committest du mit
        <code> git commit -m "hier kommt eine aussagekräftige Beschreibung rein"</code>.
      </div>
      <div exerciselist>
        Bevor du deine Änderungen pusht, gleichst du nochmal deinen Branch mit dem Hauptbranch ab. Dies machst du um
        Mergekonfikte präventiv zu verhindern.
      </div>
      <div exerciselist>
        Dafür führst du <code>git checkout name-des-main-branches</code> aus. Danach folgt <code> git fetch</code> und
        <code>git pull</code>.
      </div>
      <div exerciselist>
        Nun wechselst du mit <code>git checkout name-deines-neuen-branches</code> zurück in deinen neu erstellten Branch
        und gleichst mit <code>git rebase name-des-main-branches</code> die zwei Stände miteinander ab.
      </div>
      <div exerciselist>Treten hier Konflikte auf, musst du diese natürlich beheben.</div>
      <div exerciselist>
        Gibt es keine Konflikte, kannst du nun mit <code>git push</code> deine Änderungen auf Github als Pull Request
        veröffentlichen.
      </div>
      <div exerciselist>
        Auf der Seite des Repositories hast du nun die Möglichkeit eine Pull Request zu erstellen. Diese sollte von
        einer anderen Person reviewed werden und wird dann, wenn alles in Ordnung ist gemerged.
      </div>
    </task-text>
  </task>
  <task id="task-9" section="teamwork">
    <div title>GitFlow</div>
    <div description>
      Dieses Video soll dir einen Einblick geben, wie du später in größeren Teams mithilfe von GitFlow organisiert
      arbeiten kannst. Probier das Beispiel aus dem Video ruhig selber mal aus oder passe das Repository deines
      Hauptprojektes so an, dass du nach diesem Schema arbeiten kannst.
    </div>
    <task-video [youtubelink]="'https://www.youtube.com/embed/TIkZiaupFCY'"></task-video>
  </task>
</section>
