@import 'src/assets/scss/utils';

.price-container {
  padding-top: 60px;
  padding-bottom: 40px;
}

.img-container {
  position: relative;
}

.hover-img {
  width: 145px;
  position: absolute;
  top: -80px;
}

.banner-text {
  text-align: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 80%;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    width: 50%;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: white;
    margin-bottom: 0;
  }

  &-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    color: white;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
  }
}

@include media-breakpoint-up(xl) {
  .banner-text {
    right: 0;
    position: relative;
  }
}

.price-banner {
  max-height: none;

  @include media-breakpoint-up(xl) {
    max-height: 200px;
  }
}
