<div class="container-fluid price-banner bg-primary-500">
  <div class="container d-flex">
    <img
      src="../../../../../assets/images/banner-images/spaceboard.svg"
      alt="Illustration einer Person auf einer Hoverboard-Rakete"
      class="hover-img d-none d-xl-block"
    />
    <div class="banner-text align-self-center col-6">
      <h2 class="banner-text-title">{{ titleBanner }}</h2>
      <p class="banner-text-sub">{{ textBanner }}</p>
      <button nbButton status="warning" (click)="onButtonClicked()">Kontakt</button>
    </div>
  </div>
</div>
