<div
  class="container-fluid bg-primary-500 price-container"
  [ngStyle]="{
    'padding-top': differentHeight ? '15px' : '60px',
    'padding-bottom': differentHeight ? '15px' : '40'
  }"
>
  <div class="container d-flex price-banner flex-column flex-md-row">
    <div class="img-container">
      <img
        loading="lazy"
        src="../../../../../assets/images/banner-images/spaceboard.svg"
        alt="Illustration einer Person auf einer Hoverboard-Rakete"
        class="hover-img d-none d-lg-block"
        [ngStyle]="{ height: differentHeight ? '200%' : 'none', top: differentHeight ? '-70px' : '-80px' }"
      />
    </div>

    <div class="d-flex banner-text align-self-center justify-content-center">
      <h2 class="banner-text-title" *ngIf="titleBanner">{{ titleBanner }}</h2>
      <p class="banner-text-sub" [innerHtml]="textBanner"></p>
    </div>
    <div class="d-flex align-items-md-center mt-3 justify-content-center">
      <button nbButton status="warning" routerLink="/kontakt" data-cy="contact-btn">Kontakt</button>
    </div>
  </div>
</div>
