<section
  [pageTitle]="'Angular'"
  [seoTitle]="'ltakademie - Angular'"
  [seoDescription]="'Lerne Angular mithilfe der ltakademie.'"
  [seoKeywords]="'angular, academy, online, learning, platform, akademie'"
>
  <task id="task-1">
    <div title>Projekt</div>

    <task-text>
      <div exercise>
        Im Udemy Kurs sollst du, während dem Abschließen der einzelnen Kursabschnitte, ein kursinternes Projekt
        erstellen (Rezepteseite). Uns wäre wichtig, dass du dir gleichzeitig ein eigenes Projekt überlegst, welches du
        am Besten auch direkt umsetzt. Sprich darüber mit deinem Tutor und gemeinsam könnt ihr die Anforderungen an dein
        eigenes Projekt optimal bestimmen. Wenn dir momentan nichts eigenes einfällt, kannst du auch die Lennetaler
        Website, die du im Bereich Bootstrap erstellt hast, zu einer
        <a href="/lernpfad/angular#task-3" pageLink>Angular-App weiterenwickeln</a>
        .
      </div>
    </task-text>
  </task>

  <task id="task-2">
    <div title>Video</div>
    <div description>
      Nach jedem Abschnitt (Course Project - Abschnitt) überlegst du dir, ob etwas davon in dein Projekt passt und setzt
      es in die Praxis um.
    </div>

    <task-video [link]="'https://www.udemy.com/course/the-complete-guide-to-angular-2/learn/lecture/13914134#overview'">
      <div videolist>Abschnitt 1: Getting Started</div>
      <div videolist>Abschnitt 2: The Basics</div>
      <div videolist>Abschnitt 3: Course Project - The Basics</div>
      <div videolist>Abschnitt 4: Debugging</div>
      <div videolist>Abschnitt 5: Components & Databinding Deep Dive</div>
      <div videolist>Abschnitt 6: Course Project - Components & Databinding</div>
      <div videolist>Abschnitt 7: Directives Deep Dive</div>
      <div videolist>Abschnitt 8: Course Project - Directives</div>
      <div videolist>Abschnitt 9: Using Services & Dependency Injection</div>
      <div videolist>Abschnitt 10: Course Project - Service & Dependency Injection</div>
      <div videolist>Abschnitt 11: Changing Pages with Routing</div>
      <div videolist>Abschnitt 12: Course Project - Routing</div>
      <div videolist>Abschnitt 13: Understanding Observables</div>
      <div videolist>Abschnitt 14: Course Project - Observables</div>
      <div videolist>Abschnitt 15: Handling Forms in Angular Apps</div>
      <div videolist>Abschnitt 16: Course Project - Forms</div>
      <div videolist>Abschnitt 17: Using Pipes to Transform Output</div>
      <div videolist>Abschnitt 19: Making Http Requests</div>
      <div videolist>Abschnitt 20: Course Project - Http</div>
      <div videolist>Abschnitt 21: Dynamic Components</div>
      <div videolist>Abschnitt 22: Angular Modules & Optimizing Angular</div>
    </task-video>
  </task>

  <task id="task-3">
    <div title>Lennetaler</div>

    <task-text>
      <div exercise>
        Diese Aufgabe bearbeitest du nur, wenn du kein eigenes Projekt hast. Die Anforderungen stehen hier drunter.
        Manche Teilaufgaben kannst du nicht von Anfang an bearbeiten, daher komm immer mal wieder hier hin und schau,
        was du in den einzelnen Videoabschnitten gelernt hast. Gerne kannst du auch noch weitere Ideen mit einbringen
        und ergänzen.
      </div>
      <div exerciselist>
        Setze die Startseite, die Produktseite sowie die Kontaktseite mithilfe von Components um und nutze für
        Navigation Angulars Routing System.
      </div>
      <div exerciselist>
        Wenn du in dieser Version auf ein Produkt klickst, sollen nicht mehr die Details auf der gleichen Seite
        angezeigt werden, sondern eine eigene Produktseite geladen werden, in der man das Produkt nochmal größer sieht,
        die Beschreibung neben dem Produktbild angezeigt wird und man das Produkt bestellen kann.
      </div>
      <div exerciselist>
        Außerdem soll es noch eine neue Verwaltungsseite geben, in der alle Produkte in einer Liste angezeigt werden,
        gelöscht und bearbeitet werden können. Mit einem weiteren Button sollen neue Produkte erstellt werden können und
        direkt im Shop angezeigt werden.
      </div>
      <div exerciselist>
        Um Artikel zu bestellen muss ein Nutzer erst eingeloggt sein, arbeite auch hier mit Services, indem du vorerst
        im Frontend eine Nutzerliste abspeicherst und dementsprechend authentifizierst.
      </div>
      <div exerciselist>
        Außerdem soll der Warenkorb ausgebaut werden, indem er alle ausgewählten Artikel beinhaltet. Man sollte diese
        löschen oder hinzufügen können und am Ende seine Bestellung abschicken können.
      </div>
      <div exerciselist>
        Wenn die Bestellung abgeschickt wird, soll man auf eine Bestellübersicht kommen, in der die Bestellung noch
        einmal überprüft werden kann und eine Rechnung in Form von einer PDF gedruckt werden kann.
      </div>
    </task-text>
  </task>
</section>
