<section
  [pageTitle]="'Angular'"
  [seoTitle]="'lenne.Learning - Angular'"
  [seoDescription]="'Lerne Angular mithilfe von lenne.Learning.'"
  [seoKeywords]="'angular, academy, online, learning, platform, akademie'"
>
  <task
    id="task-1"
    section="angular"
    [image]="{
      url: '../../assets/images/academy-images/brainstorming.svg',
      alt: 'Illustration einer Glühbirne mit zwei Personen'
    }"
  >
    <div title>Projekt</div>

    <task-text>
      <div exercise>
        Im Udemy Kurs sollst Du während dem Abschließen der einzelnen Kursabschnitte ein kursinternes Projekt erstellen
        (Rezepteseite). Uns wäre wichtig, dass Du Dir gleichzeitig ein eigenes Projekt überlegst, das Du am besten auch
        direkt umsetzt. Sprich darüber mit Deinem Tutor und bestimmt gemeinsam die optimalen Anforderungen an Dein
        eigenes Projekt. Wenn Dir momentan nichts Eigenes einfällt, kannst Du auch die Lennetaler Website, die Du im
        Bereich Bootstrap erstellt hast, zu einer
        <a href="/lernpfad/angular#task-3" pageLink>Angular-App weiterentwickeln</a>.
      </div>
    </task-text>
  </task>

  <task id="task-2" section="angular">
    <div title>Testen</div>
    <task-text>
      <div info>
        Damit ein Projekt nach der Vollendung fehlerfrei funktionieren kann, muss es regelmäßig getestet werden. Das ist
        nicht nur bei der Webentwicklung der Fall, sondern auch bei allen anderen Entwicklungsprojekten. Wir unterteilen
        diese Tests in drei Kategorien. <br />
        Kurz gesagt unterscheiden sie sich wie folgt:
        <div infolist>Level 1: Das Testen durch Dich selbst.</div>
        <div infolist>Level 2: Das Testen durch eine Person, die sich mit dem technischen Kontext auskennt.</div>
        <div infolist>Level 3: Das Testen durch eine Person, die keine Ahnung vom Kontext oder der Technik hat.</div>
      </div>
      <div info>
        Je höher das Level des bestandenen Tests, desto besser ist die Funktionsfähigkeit und Usability
        (Nutzerfreundlichkeit) des Projekts. Da Du bei Level 1 nur Dich selbst als Testperson benötigst, ist dies die
        leichteste Art zu testen. Mit dieser fangen wir nun auch an: <br /><br />
        Während Deines Projekts solltest Du regelmäßig die Funktionalität Deiner Anwendung testen. Dazu kannst Du
        einfach ein alltägliches Nutzungsverhalten mit Deiner Software nachspielen. Klicke also auf die Knöpfe, log Dich
        ein, gib ein falsches Passwort ein usw., um zu testen, ob alles funktioniert. Für die zwei anderen Arten von
        Tests kannst Du Dir schon einmal geeignete Personen überlegen. Du könntest z. B. einen Tutor wissen lassen, dass
        Du bald mit ihm einen Level 2 Test durchführen möchtest. Für den Level 3 Test kannst Du jemanden aus Deiner
        Familie oder Deinem Freundeskreis um Hilfe bitten. Vielleicht hast Du ja auch eine Ansprechperson im beruflichen
        Umfeld, die dich unterstützen würde.
      </div>
    </task-text>
  </task>

  <task id="task-3" section="angular">
    <div title>Video</div>
    <div description>
      Überlege Dir nach jedem Abschnitt (Course Project - Abschnitt), ob etwas davon in Dein Projekt passt und setzt es
      in die Praxis um.
    </div>

    <task-video
      [link]="'https://www.udemy.com/course/the-complete-guide-to-angular-2/learn/lecture/13914134#overview'"
      [videoPreview]="'../../../../../assets/images/udemy/angular-1.png'"
    >
      <div videolist>Abschnitt 1: Getting Started</div>
      <div videolist>Abschnitt 2: The Basics</div>
      <div videolist>Abschnitt 3: Course Project - The Basics</div>
      <div videolist>Abschnitt 4: Debugging</div>
      <div videolist>Abschnitt 5: Components & Databinding Deep Dive</div>
      <div videolist>Abschnitt 6: Course Project - Components & Databinding</div>
      <div videolist>Abschnitt 7: Directives Deep Dive</div>
      <div videolist>Abschnitt 8: Course Project - Directives</div>
      <div videolist>Abschnitt 9: Using Services & Dependency Injection</div>
      <div videolist>Abschnitt 10: Course Project - Service & Dependency Injection</div>
      <div videolist>Abschnitt 11: Changing Pages with Routing</div>
      <div videolist>Abschnitt 12: Course Project - Routing</div>
      <div videolist>Abschnitt 13: Understanding Observables</div>
      <div videolist>Abschnitt 14: Course Project - Observables</div>
      <div videolist>Abschnitt 15: Handling Forms in Angular Apps</div>
      <div videolist>Abschnitt 16: Course Project - Forms</div>
      <div videolist>Abschnitt 17: Using Pipes to Transform Output</div>
      <div videolist>Abschnitt 19: Making Http Requests</div>
      <div videolist>Abschnitt 20: Course Project - Http</div>
      <div videolist>Abschnitt 21: Dynamic Components</div>
      <div videolist>Abschnitt 22: Angular Modules & Optimizing Angular</div>
    </task-video>
  </task>

  <task id="task-4" section="angular">
    <div title>Lennetaler</div>

    <task-text>
      <div exercise>
        Bearbeite diese Aufgabe nur, wenn Du kein eigenes Projekt hast. Die Anforderungen sind unten aufgelistet. Prüfe
        nach jedem Videoabschnitt, ob und welche Teilaufgabe du umsetzten kannst. Gerne kannst Du auch noch eigene Ideen
        mit in das Projekt einbringen.
      </div>
      <div exerciselist>
        Setze die Startseite, die Produktseite sowie die Kontaktseite mithilfe von Components um und nutze für die
        Navigation Angulars Routing System.
      </div>
      <div exerciselist>
        Wenn Du in dieser Version auf ein Produkt klickst, sollen nicht mehr die Details auf der gleichen Seite
        angezeigt werden, sondern eine eigene Produktseite geladen werden. Dort soll das Produkt noch mal größer
        dargestellt werden. Hinzu kommt die Beschreibung, die neben dem Produktbild angezeigt werden soll sowie eine
        Bestellmöglichkeit für das Produkt.
      </div>
      <div exerciselist>
        Außerdem soll es noch eine neue Verwaltungsseite geben, in der alle Produkte in einer Liste angezeigt, gelöscht
        und bearbeitet werden können. Mit einem weiteren Button sollen neue Produkte erstellt und direkt im Shop
        angezeigt werden.
      </div>
      <div exerciselist>
        Um Artikel zu bestellen, müssen Nutzer:innen erst eingeloggt sein. Arbeite auch hier mit Services, indem Du
        vorerst im Frontend eine Liste der Nutzer:innen abspeicherst und dementsprechend authentifizierst.
      </div>
      <div exerciselist>
        Außerdem soll der Warenkorb ausgebaut werden und alle ausgewählten Artikel beinhalten. Nutzer:innen sollen die
        Artikel löschen oder hinzufügen und am Ende die Bestellung abschicken können.
      </div>
      <div exerciselist>
        Wenn die Bestellung abgeschickt wird, sollen de Nutzer:innen zu einer Bestellübersicht kommen. Dort soll die
        Bestellung noch einmal überprüft und eine Rechnung in Form einer PDF gedruckt werden können.
      </div>
    </task-text>
  </task>

  <task id="task-5" section="angular">
    <div title>Level 2 Test</div>
    <task-text>
      <div exercise>
        Nun ist es an der Zeit, Deine Anwendung einem anspruchsvolleren Test zu unterziehen. Hierzu kannst Du einen
        Tutor anschreiben. Er wird mit Dir gemeinsam die Funktionen der Software austesten, zusätzlich aber auch in den
        Code schauen und auf Fehlersuche gehen. Dadurch wird Dein Projekt verbessert und Du lernst noch etwas dazu.
      </div>
    </task-text>
  </task>

  <task id="task-6" section="angular">
    <div title>Level 3 Test</div>
    <task-text>
      <div exercise>
        Um dein Projekt komplett auf Herz und Nieren zu prüfen, musst Du es von einer Person testen lassen, der das
        Projekt fremd ist und die kein technisches Hintergrundwissen hat. Dadurch werden Fehler auffallen, die eher
        selten auftreten oder Dir selbst erst später aufgefallen wären. Diese Fehler kannst Du dann ebenfalls beheben.
        Außerdem wird dadurch das Usabilityniveau, also die Nutzerfreundlichkeit Deiner Webanwendung, deutlich. Wenn die
        Testperson ohne Probleme von einem Punkt zum anderen navigieren und die Funktionen, die Deine Software bietet,
        sofort nutzen kann, ist Dein Projekt auf einem sehr guten Niveau und könnte für die Kund:innen finalisiert
        werden.
      </div>
    </task-text>
  </task>

  <task id="task-7" section="angular">
    <div title>Zusammenfassung</div>
    <div description>
      Über Angular hast Du nun alles Grundlegende erfahren, was Du wissen solltest. Hier noch eine kleine
      Zusammenfassung von all dem, was Du in der letzten Zeit gelernt hast.
    </div>
    <task-video [youtubelink]="'https://www.youtube.com/embed/Ata9cSC2WpM'"> </task-video>
  </task>

  <task id="task-8" section="angular">
    <div title>Linting</div>
    <task-text>
      <div info>
        Innerhalb Deines Codes können sich Fehler einschleichen, die sehr unscheinbar sind und die manchmal auch Dein
        Code Editor nicht erkennt. Je größer Dein Projekt wird, desto häufiger treten solche Fehler auf. Mithilfe von
        Lintingverfahren können sie beseitigt werden. <br />
        Unter Linting versteht man das Analysieren von Code, um potenzielle Fehler zu finden. Das kann alles sein, von
        HTML-Syntaxfehler bis hin zu Namings für Angular-Componenten. ESLint ist eines der Tools, mit dem so eine
        Analyse vollzogen werden kann. In unseren Projekten wird das Linting mit dem Committen (<a
          href="lernpfad/git-basics#task-1"
          pageLink
          >Git</a
        >) gekoppelt. Somit kommt nur „fehlerfreier“ Code zum Projekt hinzu (im Bezug zur Syntax - ungewolltes Verhalten
        des Systems kann man hiermit nicht überprüfen - dafür gibt es aber auch Lösungen - siehe
        <a href="lernpfad/angular#task-2" pageLink>lvl 1/2/3-Tests</a>). Für mehr Informationen ist die
        <a href="https://eslint.org/docs/user-guide/getting-started" taskLink>Dokumentation von ESLint</a> zu empfehlen.
      </div>
    </task-text>
  </task>
</section>
