<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column class="p-0">
    <div class="container">
      <div class="section">
        <app-banner [title]="title" [subtitle]="subtitle" [imageUrl]="imageUrl"></app-banner>
      </div>
    </div>
    <div class="container-fluid pe-0 ps-0 pb-3 pt-3 bg-brand-banner">
      <app-brand-banner></app-brand-banner>
    </div>
    <div class="container">
      <div class="section">
        <app-steps></app-steps>
      </div>
    </div>
    <div class="container-fluid p-0 bg-primary-500">
      <div class="section">
        <app-features></app-features>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <h2 class="section-title">An wen richten wir uns?</h2>
        <div class="row">
          <div class="col-12 col-xl-4 d-flex justify-content-center" *ngFor="let entryPoint of entryPoints">
            <app-entry-point-card
              [title]="entryPoint.title"
              [imageUrl]="entryPoint.image"
              [description]="entryPoint.description"
              [showMoreRoute]="entryPoint.landingRoute"
              [route]="'/academy'"
              (linkClickEvent)="setSelectedEntryPoint(entryPoint)"
            >
            </app-entry-point-card>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-0">
      <div class="vertical-stripe bg-primary-500">
        <app-carousel [imageHeight]="'240px'" [imageWidth]="'240px'" [imageAsCircle]="true"> </app-carousel>
      </div>
    </div>

    <div class="container">
      <div class="section">
        <h2 class="section-title">Das sagen unsere Absolventen</h2>
        <app-review-list></app-review-list>
      </div>
      <div class="section">
        <app-contact-card
          [title]="'Melde dich bei uns!'"
          [text]="
            'Haben wir dein Interesse geweckt?\n Dann melde dich doch bei uns und erzähl uns mehr über dich.\n Wir freuen uns dich kennenzulernen!'
          "
          [image]="'../../assets/images/banner-images/contact.svg'"
          [buttonText]="'Kontakt'"
          (buttonClicked)="openMail()"
        ></app-contact-card>
      </div>
    </div>
    <!--    <div class="container-fluid p-0 section">-->
    <!--      <div class="vertical-stripe bg-individual-blue"></div>-->
    <!--    </div>-->
  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
