<nb-layout>
  <nb-layout-header fixed>
    <div class="container">
      <div class="d-flex justify-content-between header">
        <div class="title">lt<span class="header-title-colored">academy</span></div>
        <div>
          <!--   <div class='title'>lenne.Tech Academy</div>-->
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column class="p-0">
    <div class="container section">
      <app-banner [title]="title" [subtitle]="subtitle" [imageUrl]="imageUrl"></app-banner>
    </div>
    <div class="container-fluid p-0 section">
      <div class="vertical-stripe bg-individual-cyan">
        <app-carousel [imageHeight]="'280px'" [imageWidth]="'280px'" [imageAsCircle]="true" [reviews]="companyReviews">
        </app-carousel>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <div class="section-title">An wen richten wir uns?</div>
    </div>
    <div class="container section">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4 d-md-flex justify-content-center" *ngFor="let entryPoint of entryPoints">
          <app-entry-point-card
            [title]="entryPoint.title"
            [imageUrl]="entryPoint.image"
            [description]="entryPoint.description"
            [backTitle]="entryPoint.cardBackTitle"
            [linkText]="'Zur Akademie'"
            [route]="'/academy'"
            (linkClickEvent)="setSelectedEntryPoint(entryPoint)"
          >
          </app-entry-point-card>
        </div>
      </div>
    </div>
    <div class="container-fluid p-0 section">
      <div class="vertical-stripe bg-individual-blue"></div>
    </div>
    <div class="container section">
      <div class="d-flex justify-content-around">
        <div class="section-title">Das sagen unsere Absolventen</div>
      </div>
      <div class="section">
        <app-review *ngFor="let review of studentReviews; let i = index" [review]="review" [reversed]="i % 2 === 1">
        </app-review>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <!-- Insert footer here -->
    Erschaffen mit ganz viel ❤️ von <a class="ms-1" href="https://lenne.tech">lenne.Tech</a>
    <!--<a href='https://pngtree.com/so/can-be-used-for-landing-pages'>can be used for landing pages png from pngtree.com</a>-->
    <!--    <a href="https://dribbble.com/nunodias"></a>-->
  </nb-layout-footer>
</nb-layout>
